In [1]:
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import chi2_contingency
from scipy import stats

In [3]:
data= pd.read_csv('../sep19SexAndAgeAddedFINAL DATASET_ver2.txt',sep=',')
data=data.drop(columns=['B_DAY'])

In [4]:
data=data.query('FIELD_15 !=1 and FIELD_17 !=1 and FIELD_22 != 1 and FIELD_24 != 1 and FIELD_16 != 1 and FIELD_23 != 1 and FIELD_30 != 1')

In [5]:
df=data.copy()
conditions3 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126),
    (df.L100800 >= 126)]
choices3 = [0,1,2]
df['CLASS'] = np.select(conditions3, choices3, default=0)
df.head()
data=df.copy()

In [6]:
#split column types to categorical and numerical
numerical_cols = list(data.columns[~data.columns.str.startswith('FIELD')])
categorical_cols = list(data.columns[data.columns.str.startswith('FIELD')])
categorical_cols.append('CLASS')

Calculate correlation Value - for numerical values
========

In [7]:
corr=data[numerical_cols].corr()

In [8]:
val= pd.DataFrame(corr['L104600']).sort_values(by='L104600', ascending=False)
# val.head(15)

mydataset=data.copy()[numerical_cols]
colslist_original=mydataset.columns
DiabeticColVals_original=mydataset.L104600

cor_original=[]
count_original=[]

for i in range(len(colslist_original)):
    print(i,colslist_original[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals_original
    temp['b']=mydataset[colslist_original[i]]
    temp=temp.dropna()
    count_original.append(temp.shape[0])
    tempcor=temp.corr()
    
    if(tempcor.shape[0]>1):
        print(temp.shape)
        cor_original.append(abs(tempcor.b[0]))
    else:
        cor_original.append(0)

0 Unnamed: 0
(158017, 2)
1 COMPARE
(158017, 2)
2 AGE
(158017, 2)
3 SEX
(158017, 2)
4 L100100
(151866, 2)
5 L100200
(152025, 2)
6 L100300
(150816, 2)
7 L100400
(157895, 2)
8 L100500
(158015, 2)
9 L100700
(152507, 2)
10 L100800
(158015, 2)
11 L101000
(157729, 2)
12 L101100
(98677, 2)
13 L101200
(158015, 2)
14 L101300
(158015, 2)
15 L101400
(141614, 2)
16 L101600
(157793, 2)
17 L101700
(158014, 2)
18 L102000
(29733, 2)
19 L102200
(1776, 2)
20 L102400
(120180, 2)
21 L102500
(3953, 2)
22 L102700
(93524, 2)
23 L102800
(660, 2)
24 L102900
(157968, 2)
25 L103000
(157968, 2)
26 L103100
(157968, 2)
27 L103200
(157968, 2)
28 L103300
(138790, 2)
29 L103400
(69509, 2)
30 L103500
(69472, 2)
31 L103600
(67138, 2)
32 L103700
(74664, 2)
33 L103800
(76418, 2)
34 L103900
(6082, 2)
35 L104000
(7440, 2)
36 L104200
(6335, 2)
37 L104300
(89231, 2)
38 L104400
(87643, 2)
39 L104500
(87643, 2)
40 L104600
(158017, 2)
41 L104800
(12, 2)
42 L104900
(536, 2)
43 L105200
(157979, 2)
44 L105300
(1, 2)
45 L105700
(1, 2)
46 L107400
(156849, 2)
47 L107500
(147191, 2)
48 L107600
(6328, 2)
49 L107700
(70947, 2)
50 L108000
(0, 2)
51 L108600
(24807, 2)
52 L108700
(24809, 2)
53 L112000
(99, 2)
54 L114200
(8064, 2)
55 L114300
(8512, 2)
56 L114500
(453, 2)
57 L115400
(2115, 2)
58 L115500
(1867, 2)
59 L117700
(2, 2)
60 L120100
(2, 2)
61 L120200
(1, 2)
62 L120300
(44, 2)
63 L120600
(0, 2)
64 L120700
(666, 2)
65 L120800
(0, 2)
66 L120900
(1, 2)
67 L121300
(3265, 2)
68 L121400
(0, 2)
69 L122000
(6, 2)
70 L132900
(0, 2)
71 L138200
(58, 2)
72 L142800
(2751, 2)
73 L156100
(30899, 2)
74 L157100
(0, 2)
75 L157400
(1019, 2)
76 L157500
(15, 2)
77 L160100
(0, 2)
78 L160200
(0, 2)
79 L190000
(158005, 2)
80 L190201
(158004, 2)
81 L190202
(158004, 2)
82 L190203
(158004, 2)
83 L190204
(158004, 2)
84 L190205
(158004, 2)
85 L190206
(158004, 2)
86 L190207
(158004, 2)
87 L190208
(158004, 2)
88 L190209
(158004, 2)
89 L190210
(158004, 2)
90 L190211
(158004, 2)
91 L190300
(158005, 2)
92 L190400
(158012, 2)
93 L190500
(158005, 2)
94 L190600
(150367, 2)
95 L190700
(150151, 2)
96 L190800
(150151, 2)
97 L190900
(148050, 2)
98 L191000
(157945, 2)
99 L191100
(126775, 2)
100 L191200
(145460, 2)
101 L191300
(147697, 2)
102 L191500
(1284, 2)
103 L200500
(14441, 2)
104 L200600
(0, 2)
105 L200700
(2699, 2)
106 L201501
(56, 2)
107 L201502
(56, 2)
108 L201503
(56, 2)
109 L201600
(58, 2)
110 L202700
(32, 2)
111 L210515
(1, 2)
112 L302800
(784, 2)
113 L303000
(9, 2)
114 L303201
(0, 2)
115 L303202
(0, 2)
116 L303203
(0, 2)
117 L303204
(0, 2)
118 L303205
(0, 2)
119 L305900
(2, 2)
120 L314900
(97, 2)
121 L315100
(766, 2)
122 L327300
(5261, 2)
123 L336400
(155, 2)
124 L345700
(8964, 2)
125 L345800
(10076, 2)
126 L349100
(0, 2)
127 L359000
(11, 2)
128 L368900
(13, 2)
129 L377800
(111906, 2)
130 L382800
(1, 2)
131 L382900
(2, 2)
132 L393800
(2, 2)
133 L394600
(73, 2)
134 L395000
(153, 2)
135 L397100
(4031, 2)
136 L401202
(155292, 2)
137 L401203
(155292, 2)
138 L403000
(1, 2)
139 L403100
(0, 2)
140 L403300
(0, 2)
141 L500200
(6360, 2)
142 L500300
(20, 2)
143 L500400
(153212, 2)
144 L500500
(0, 2)
145 L500700
(149409, 2)
146 L500800
(95301, 2)
147 L500900
(4, 2)
148 L501600
(1, 2)
149 L501700
(471, 2)
150 L501800
(7536, 2)
151 L501900
(3, 2)
152 L502000
(1, 2)
153 L502100
(0, 2)
154 L502300
(6396, 2)
155 L502500
(481, 2)
156 L502600
(1, 2)
157 L502700
(9773, 2)
158 L502800
(2714, 2)
159 L503200
(1, 2)
160 L504700
(150936, 2)
161 L504800
(21388, 2)
162 L504900
(1, 2)
163 L505300
(87255, 2)
164 L505600
(8614, 2)
165 L505700
(136376, 2)
166 L505800
(62181, 2)
167 L505900
(168, 2)
168 L506300
(8154, 2)
169 L510100
(1972, 2)
170 L510400
(1, 2)
171 L510700
(1, 2)
172 L511000
(78, 2)
173 L511200
(306, 2)
174 L511300
(330, 2)
175 L512300
(310, 2)
176 L512400
(42039, 2)
177 L512900
(1, 2)
178 L518900
(1, 2)
179 L520100
(10, 2)
180 L520300
(0, 2)
181 L533900
(0, 2)
182 L534700
(23905, 2)
183 L540100
(1, 2)
184 L550300
(3, 2)
185 L573601
(569, 2)
186 L573602
(569, 2)
187 L573603
(569, 2)
188 L573604
(569, 2)
189 L573605
(569, 2)
190 L573606
(569, 2)
191 L573607
(569, 2)
192 L573608
(569, 2)
193 L573609
(569, 2)
194 L573610
(569, 2)
195 L573701
(180, 2)
196 L573702
(180, 2)
197 L573703
(180, 2)
198 L573704
(180, 2)
199 L573705
(180, 2)
200 L573706
(180, 2)
201 L573707
(180, 2)
202 L573708
(180, 2)
203 L573709
(180, 2)
204 L573710
(180, 2)
205 L575500
(0, 2)
206 R602300
(670, 2)
207 R602400
(0, 2)
208 R602800
(151, 2)
209 S000100
(157943, 2)
210 S000200
(157937, 2)
211 S000300
(157666, 2)
212 S000400
(0, 2)
213 S000501
(157983, 2)
214 S000502
(157983, 2)
215 S000503
(4184, 2)
216 S000504
(4183, 2)
217 S000600
(29668, 2)
218 S000701
(93357, 2)
219 S000702
(93342, 2)
220 S000703
(64640, 2)
221 S000704
(64657, 2)
222 S001001
(36408, 2)
223 S001002
(36407, 2)
224 S001003
(37640, 2)
225 S001004
(36409, 2)
226 S001005
(37638, 2)
227 S001006
(37638, 2)
228 S001101
(175, 2)
229 S001102
(176, 2)
230 S001200
(157591, 2)
231 S001300
(0, 2)
232 S001400
(0, 2)
233 S001901
(128710, 2)
234 S001902
(128708, 2)
235 S001903
(128710, 2)
236 S001904
(128708, 2)
237 S001905
(128712, 2)
238 S001906
(128710, 2)
239 S001907
(128710, 2)
240 S001908
(128708, 2)
241 S002701
(12974, 2)
242 S002702
(12974, 2)
243 S004401
(16351, 2)
244 S004402
(16352, 2)
245 S004403
(16352, 2)
246 S004404
(16352, 2)
247 S004405
(16353, 2)
248 S004406
(16353, 2)
249 S004407
(16351, 2)
250 S004408
(16351, 2)
251 S004409
(16352, 2)
252 S004410
(16352, 2)
253 S004411
(16326, 2)
254 S004412
(16319, 2)
255 S004413
(10, 2)
256 S004414
(4, 2)
257 S004415
(0, 2)
258 S004416
(0, 2)
259 S004417
(0, 2)
260 S004418
(0, 2)
261 S004419
(1, 2)
262 S004420
(1, 2)
263 S004421
(1, 2)
264 S004422
(1, 2)
265 S004423
(0, 2)
266 S004424
(0, 2)
267 S005200
(0, 2)
268 S007400
(0, 2)
269 S008501
(280, 2)
270 S008502
(9, 2)
271 S008503
(275, 2)
272 S008504
(279, 2)
273 S010101
(154303, 2)
274 S010102
(154305, 2)
275 CLASS
(158017, 2)

In [9]:
CorValWithCorr=pd.DataFrame()    
CorValWithCorr['Cols']=colslist_original
CorValWithCorr['Corr']=cor_original
CorValWithCorr['Count']=count_original
CorValWithCorr=CorValWithCorr.sort_values(by='Corr', ascending=False)

CorValWithCorr.head(15)

        Cols      Corr   Count
119  L305900  1.000000       2
59   L117700  1.000000       2
60   L120100  1.000000       2
40   L104600  1.000000  158017
131  L382900  1.000000       2
256  S004414  0.868771       4
69   L122000  0.717360       6
179  L520100  0.705078      10
10   L100800  0.670802  158015
184  L550300  0.648704       3
151  L501900  0.601356       3
147  L500900  0.527449       4
275    CLASS  0.456670  158017
255  S004413  0.385139      10
62   L120300  0.328055      44

In [10]:
CorValWithCorr2=CorValWithCorr.copy()
CorValWithCorr2=CorValWithCorr2[CorValWithCorr2.Count>100000].sort_values(by='Corr', ascending=False)
CorValWithCorr2=CorValWithCorr2.reset_index().drop(columns = ['index'])

print(list(CorValWithCorr2.head(40).Cols))
CorValWithCorr2.head(32)

['L104600', 'L100800', 'CLASS', 'L103300', 'AGE', 'L103000', 'S000300', 'L102900', 'L101600', 'S000501', 'L103200', 'L103100', 'L101700', 'S000502', 'L101300', 'L190000', 'L190300', 'L504700', 'L100400', 'SEX', 'L190500', 'S010101', 'S010102', 'L100700', 'L190400', 'L191000', 'L100300', 'L101000', 'L107500', 'L102400', 'L191100', 'L100500', 'L101200', 'L105200', 'L101400', 'L190600', 'S001907', 'L107400', 'L190700', 'L100100']

       Cols      Corr   Count
0   L104600  1.000000  158017
1   L100800  0.670802  158015
2     CLASS  0.456670  158017
3   L103300  0.267242  138790
4       AGE  0.243348  158017
5   L103000  0.237021  157968
6   S000300  0.236068  157666
7   L102900  0.196887  157968
8   L101600  0.169851  157793
9   S000501  0.167295  157983
10  L103200  0.161553  157968
11  L103100  0.159123  157968
12  L101700  0.157840  158014
13  S000502  0.156365  157983
14  L101300  0.156282  158015
15  L190000  0.139299  158005
16  L190300  0.130406  158005
17  L504700  0.117578  150936
18  L100400  0.113011  157895
19      SEX  0.105191  158017
20  L190500  0.099626  158005
21  S010101  0.099115  154303
22  S010102  0.095345  154305
23  L100700  0.088253  152507
24  L190400  0.085612  158012
25  L191000  0.083321  157945
26  L100300  0.078538  150816
27  L101000  0.073590  157729
28  L107500  0.072490  147191
29  L102400  0.072009  120180
30  L191100  0.071737  126775
31  L100500  0.067717  158015

Anova test - For categorical values [Questionnaire answers]
=======

In [ ]:
mydataset=data.copy()[categorical_cols] #[np.insert(categorical_cols,0,'L100800')]

# mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
#                            'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
#                            'FIELD_103','FIELD_106'])

mydataset=mydataset.drop(columns=['FIELD_1','FIELD_2','FIELD_87','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39',
                                  'FIELD_88','FIELD_89', 'FIELD_108','FIELD_109','FIELD_110','FIELD_111' ])


mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='`'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_3=='G'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_4=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_5=='.'].index)

mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='?'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_35=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_36=='.'].index)
mydataset=mydataset.drop(mydataset[mydataset.FIELD_37=='\\'].index)
 
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '7+' ].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '5~7'].index)
# mydataset=mydataset.drop(mydataset[mydataset.FIELD_39 == '3-4'].index)


mydataset=mydataset.drop(mydataset[mydataset.FIELD_95=='.'].index)

In [ ]:
colslist=mydataset.columns
DiabeticColVals=data.L104600

cor=[]
pval=[]
count=[]

for i in range(len(colslist)):
    print(i,colslist[i])
    
    temp=pd.DataFrame([])
    temp['a']=DiabeticColVals
    temp['b']=mydataset[colslist[i]].astype(float)
    temp=temp.dropna()
    count.append(temp.shape[0])
    
    uniquevalues=temp.b.unique()
    
    selectedGroupVals=[]
    for k in range(len(uniquevalues)):
        selectedGroupVals.append(np.asarray(temp[temp['b']==uniquevalues[k]].a))

    F, p = stats.f_oneway(*selectedGroupVals)
    cor.append(F)
    pval.append(p)

In [12]:

FvalPvalCorr=pd.DataFrame()    
FvalPvalCorr['Cols']=colslist
FvalPvalCorr['F']=cor
FvalPvalCorr['P']=pval
FvalPvalCorr['Count']=count
FvalPvalCorr=FvalPvalCorr.sort_values(by='F', ascending=False)

In [13]:
FvalPvalCorr[FvalPvalCorr.Count>200000].head(30)

         Cols              F              P   Count
116     CLASS  385585.757384   0.000000e+00  456905
26   FIELD_33    2070.117413   0.000000e+00  454652
31   FIELD_38     892.251367   0.000000e+00  424264
24   FIELD_31     460.335976  1.910148e-200  453996
14   FIELD_21     188.932117   5.547795e-43  450551
32   FIELD_40     159.543512   0.000000e+00  424335
20   FIELD_27     157.563402   3.934106e-69  453541
7    FIELD_14      88.262851   4.735361e-39  455727
33   FIELD_41      86.314675  1.037286e-143  424263
22   FIELD_29      22.553092   1.606213e-10  454050
13   FIELD_20      17.348514   3.111992e-05  450527
25   FIELD_32      16.035935   3.150594e-21  454238
1     FIELD_4      13.251014   3.370313e-17  446394
21   FIELD_28      10.474150   2.826439e-05  453443
18   FIELD_25       9.070911   2.597221e-03  450545
34   FIELD_42       8.741622   5.080000e-12  424220
6    FIELD_13       8.736720   1.606067e-04  455700
12   FIELD_19       8.680545   3.216410e-03  455800
11   FIELD_18       4.465189   3.459281e-02  455591
0     FIELD_3       2.623965   1.519943e-02  250963
19   FIELD_26       0.159519   6.896002e-01  450690
8    FIELD_15            NaN            NaN  455714
9    FIELD_16            NaN            NaN  455745
10   FIELD_17            NaN            NaN  455749
15   FIELD_22            NaN            NaN  450562
16   FIELD_23            NaN            NaN  450555
17   FIELD_24            NaN            NaN  449112

In [14]:
print(list(FvalPvalCorr[FvalPvalCorr.Count>200000].Cols)[:30])

['CLASS', 'FIELD_33', 'FIELD_38', 'FIELD_31', 'FIELD_21', 'FIELD_40', 'FIELD_27', 'FIELD_14', 'FIELD_41', 'FIELD_29', 'FIELD_20', 'FIELD_32', 'FIELD_4', 'FIELD_28', 'FIELD_25', 'FIELD_42', 'FIELD_13', 'FIELD_19', 'FIELD_18', 'FIELD_3', 'FIELD_26', 'FIELD_15', 'FIELD_16', 'FIELD_17', 'FIELD_22', 'FIELD_23', 'FIELD_24']

correlation for categorical values
============

In [15]:
mydata=data.copy()[categorical_cols]

mydata=mydata.drop(columns=['FIELD_1','FIELD_2','FIELD_8','FIELD_10','FIELD_11','FIELD_12','FIELD_39','FIELD_88',
                           'FIELD_89','FIELD_109','FIELD_110','FIELD_111','FIELD_70','FIELD_82','FIELD_85','FIELD_91',
                           'FIELD_103','FIELD_106'])
# FIELD_39 ?
mydata=mydata.drop(mydata[mydata.FIELD_3=='`'].index)
mydata=mydata.drop(mydata[mydata.FIELD_3=='G'].index)


mydata=mydata.drop(mydata[mydata.FIELD_4=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_5=='.'].index)

mydata=mydata.drop(mydata[mydata.FIELD_35=='?'].index)
mydata=mydata.drop(mydata[mydata.FIELD_35=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_36=='.'].index)
mydata=mydata.drop(mydata[mydata.FIELD_37=='\\'].index)
 
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '7+' ].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '5~7'].index)
# mydata=mydata.drop(mydata[mydata.FIELD_39 == '3-4'].index)


mydata=mydata.drop(mydata[mydata.FIELD_95=='.'].index)

In [16]:
AllTables=[]
for j in range(len(mydata.columns)):
    
    
    columnName = mydata.columns[j]
    print(j,columnName)
    
    temp=mydata[columnName].dropna().astype(float).unique() 
    mytempdata=mydata[[columnName,'CLASS']].dropna()
    mytempdata[columnName]=mytempdata[columnName].astype(float)
    temptable=[]
    
    sumval=0

    for i in range(temp.shape[0]):
        
        temp_i_val=str(temp[i])
        class0_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 0' ).shape[0]
        class1_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 1' ).shape[0]
        class2_count = mytempdata.query(columnName + ' == '+( temp_i_val ) + ' & CLASS == 2' ).shape[0]
        
        sumval = sumval + (class0_count+class1_count+class2_count)

        temptable.append(
        [
            class0_count,class1_count,class2_count
        ])
    
    print(sumval,mytempdata.shape[0], mytempdata.shape[0] == sumval)
    
    if(len(temptable) > 1):
        AllTables.append([temptable , columnName , mytempdata.shape[0] ] )
        print(mydata.columns[j])

0 FIELD_3
251201 251201 True
FIELD_3
1 FIELD_4
446905 446905 True
FIELD_4
2 FIELD_5
143531 143531 True
FIELD_5
3 FIELD_6
171254 171254 True
FIELD_6
4 FIELD_7
199760 199760 True
FIELD_7
5 FIELD_9
36705 36705 True
FIELD_9
6 FIELD_13
456239 456239 True
FIELD_13
7 FIELD_14
456266 456266 True
FIELD_14
8 FIELD_15
456253 456253 True
9 FIELD_16
456284 456284 True
10 FIELD_17
456288 456288 True
11 FIELD_18
456130 456130 True
FIELD_18
12 FIELD_19
456338 456338 True
FIELD_19
13 FIELD_20
451062 451062 True
FIELD_20
14 FIELD_21
451086 451086 True
FIELD_21
15 FIELD_22
451097 451097 True
16 FIELD_23
451090 451090 True
17 FIELD_24
449646 449646 True
18 FIELD_25
451079 451079 True
FIELD_25
19 FIELD_26
451225 451225 True
FIELD_26
20 FIELD_27
454077 454077 True
FIELD_27
21 FIELD_28
453980 453980 True
FIELD_28
22 FIELD_29
454588 454588 True
FIELD_29
23 FIELD_30
68636 68636 True
24 FIELD_31
454534 454534 True
FIELD_31
25 FIELD_32
454766 454766 True
FIELD_32
26 FIELD_33
455181 455181 True
FIELD_33
27 FIELD_34
87814 87814 True
FIELD_34
28 FIELD_35
87415 87415 True
FIELD_35
29 FIELD_36
99222 99222 True
FIELD_36
30 FIELD_37
99353 99353 True
FIELD_37
31 FIELD_38
424774 424774 True
FIELD_38
32 FIELD_40
424845 424845 True
FIELD_40
33 FIELD_41
424773 424773 True
FIELD_41
34 FIELD_42
424729 424729 True
FIELD_42
35 FIELD_43
1486 1486 True
FIELD_43
36 FIELD_44
1430 1430 True
FIELD_44
37 FIELD_45
1426 1426 True
FIELD_45
38 FIELD_46
1426 1426 True
FIELD_46
39 FIELD_47
1426 1426 True
FIELD_47
40 FIELD_48
15678 15678 True
FIELD_48
41 FIELD_49
15680 15680 True
FIELD_49
42 FIELD_50
15679 15679 True
FIELD_50
43 FIELD_51
15679 15679 True
FIELD_51
44 FIELD_52
5613 5613 True
FIELD_52
45 FIELD_53
5598 5598 True
FIELD_53
46 FIELD_54
5596 5596 True
FIELD_54
47 FIELD_55
5591 5591 True
FIELD_55
48 FIELD_56
5590 5590 True
FIELD_56
49 FIELD_57
5591 5591 True
FIELD_57
50 FIELD_58
5590 5590 True
FIELD_58
51 FIELD_59
917 917 True
FIELD_59
52 FIELD_60
913 913 True
FIELD_60
53 FIELD_61
912 912 True
FIELD_61
54 FIELD_62
5586 5586 True
FIELD_62
55 FIELD_63
5590 5590 True
FIELD_63
56 FIELD_64
30990 30990 True
FIELD_64
57 FIELD_65
5216 5216 True
FIELD_65
58 FIELD_66
31294 31294 True
FIELD_66
59 FIELD_67
25458 25458 True
FIELD_67
60 FIELD_68
7743 7743 True
FIELD_68
61 FIELD_69
10835 10835 True
FIELD_69
62 FIELD_72
4987 4987 True
FIELD_72
63 FIELD_73
4080 4080 True
FIELD_73
64 FIELD_74
6039 6039 True
FIELD_74
65 FIELD_75
2770 2770 True
FIELD_75
66 FIELD_76
2671 2671 True
FIELD_76
67 FIELD_77
347 347 True
FIELD_77
68 FIELD_80
2443 2443 True
FIELD_80
69 FIELD_81
2277 2277 True
FIELD_81
70 FIELD_84
989 989 True
FIELD_84
71 FIELD_87
0 0 True
72 FIELD_90
16452 16452 True
FIELD_90
73 FIELD_93
2786 2786 True
FIELD_93
74 FIELD_94
4792 4792 True
FIELD_94
75 FIELD_95
3907 3907 True
FIELD_95
76 FIELD_96
2863 2863 True
FIELD_96
77 FIELD_97
2450 2450 True
FIELD_97
78 FIELD_98
1037 1037 True
FIELD_98
79 FIELD_101
1667 1667 True
FIELD_101
80 FIELD_102
2695 2695 True
FIELD_102
81 FIELD_105
938 938 True
FIELD_105
82 FIELD_108
0 0 True
83 FIELD_112
28279 28279 True
FIELD_112
84 FIELD_113
31183 31183 True
FIELD_113
85 FIELD_114
22211 22211 True
FIELD_114
86 FIELD_115
28382 28382 True
FIELD_115
87 FIELD_116
31188 31188 True
FIELD_116
88 FIELD_117
4713 4713 True
FIELD_117
89 FIELD_118
422 422 True
FIELD_118
90 FIELD_119
418 418 True
FIELD_119
91 FIELD_120
418 418 True
FIELD_120
92 FIELD_121
418 418 True
FIELD_121
93 FIELD_122
418 418 True
FIELD_122
94 FIELD_123
418 418 True
FIELD_123
95 FIELD_124
418 418 True
FIELD_124
96 FIELD_125
418 418 True
FIELD_125
97 FIELD_126
418 418 True
FIELD_126
98 FIELD_127
418 418 True
FIELD_127
99 FIELD_128
418 418 True
FIELD_128
100 FIELD_129
418 418 True
FIELD_129
101 FIELD_130
418 418 True
FIELD_130
102 FIELD_131
418 418 True
FIELD_131
103 FIELD_132
418 418 True
FIELD_132
104 FIELD_133
2217 2217 True
FIELD_133
105 FIELD_134
2216 2216 True
FIELD_134
106 FIELD_135
2216 2216 True
FIELD_135
107 FIELD_136
2216 2216 True
FIELD_136
108 FIELD_137
2216 2216 True
FIELD_137
109 FIELD_138
2216 2216 True
FIELD_138
110 FIELD_139
2216 2216 True
FIELD_139
111 FIELD_140
2216 2216 True
FIELD_140
112 CLASS
457445 457445 True
CLASS

In [17]:
AllTables

[[[[177287, 57088, 3503],
   [9569, 3439, 204],
   [31, 7, 0],
   [11, 3, 0],
   [38, 8, 0],
   [9, 3, 0],
   [0, 1, 0]],
  'FIELD_3',
  251201],
 [[[89601, 29240, 1889],
   [109214, 37857, 2413],
   [89057, 29568, 1918],
   [4675, 1568, 138],
   [36388, 12467, 894],
   [5, 2, 0],
   [7, 2, 0],
   [1, 1, 0]],
  'FIELD_4',
  446905],
 [[[33420, 12102, 931],
   [8027, 2537, 165],
   [62141, 19335, 1170],
   [2651, 962, 58],
   [11, 2, 0],
   [8, 2, 0],
   [7, 1, 0],
   [1, 0, 0]],
  'FIELD_5',
  143531],
 [[[100747, 21972, 1110],
   [42741, 4474, 160],
   [26, 5, 1],
   [9, 2, 0],
   [3, 2, 0],
   [2, 0, 0]],
  'FIELD_6',
  171254],
 [[[138794, 17966, 734],
   [30587, 10969, 676],
   [19, 5, 0],
   [3, 4, 0],
   [2, 0, 0],
   [1, 0, 0]],
  'FIELD_7',
  199760],
 [[[1080, 140, 5], [21162, 8499, 508], [3824, 1394, 93]], 'FIELD_9', 36705],
 [[[335900, 112154, 7402], [496, 222, 16], [41, 8, 0]], 'FIELD_13', 456239],
 [[[334876, 111578, 7337], [1579, 805, 88], [3, 0, 0]], 'FIELD_14', 456266],
 [[[324995, 108442, 7185], [11400, 3885, 223]], 'FIELD_18', 456130],
 [[[331353, 110439, 7316], [5166, 1963, 101]], 'FIELD_19', 456338],
 [[[332657, 110616, 7333], [299, 148, 9]], 'FIELD_20', 451062],
 [[[331920, 110170, 7277], [1048, 600, 71]], 'FIELD_21', 451086],
 [[[325246, 108154, 7203], [7748, 2592, 136]], 'FIELD_25', 451079],
 [[[331209, 110141, 7322], [1853, 678, 22]], 'FIELD_26', 451225],
 [[[315720, 103521, 6771], [19362, 8107, 594], [1, 1, 0]], 'FIELD_27', 454077],
 [[[317806, 105524, 6942], [17211, 6085, 411], [0, 1, 0]], 'FIELD_28', 453980],
 [[[286004, 95937, 6427], [49444, 15835, 940], [1, 0, 0]], 'FIELD_29', 454588],
 [[[293835, 94793, 5820], [41526, 17000, 1559], [1, 0, 0]],
  'FIELD_31',
  454534],
 [[[174538, 60424, 3977],
   [144446, 46193, 3016],
   [16116, 5596, 365],
   [4, 2, 0],
   [62, 14, 2],
   [2, 1, 0],
   [5, 2, 0],
   [1, 0, 0]],
  'FIELD_32',
  454766],
 [[[55456, 30049, 2084],
   [214652, 50876, 2701],
   [65323, 31381, 2582],
   [59, 9, 1],
   [1, 0, 0],
   [1, 3, 0],
   [2, 0, 0],
   [1, 0, 0]],
  'FIELD_33',
  455181],
 [[[5147, 3264, 202],
   [1535, 1365, 120],
   [6540, 5012, 409],
   [906, 580, 38],
   [191, 154, 17],
   [186, 173, 14],
   [1384, 438, 28],
   [13171, 6681, 406],
   [352, 288, 24],
   [2092, 764, 24],
   [558, 301, 22],
   [2140, 667, 34],
   [138, 130, 15],
   [1425, 1278, 141],
   [734, 457, 32],
   [883, 471, 28],
   [1128, 545, 33],
   [191, 137, 9],
   [5246, 2112, 134],
   [425, 350, 34],
   [2739, 1004, 56],
   [37, 16, 3],
   [1133, 383, 20],
   [1600, 663, 28],
   [372, 277, 27],
   [2165, 679, 32],
   [53, 53, 9],
   [592, 297, 13],
   [212, 168, 15],
   [205, 41, 1],
   [29, 21, 5],
   [861, 331, 14],
   [556, 270, 16],
   [51, 59, 6],
   [30, 34, 3],
   [33, 24, 2],
   [64, 84, 5],
   [236, 197, 24],
   [34, 19, 3],
   [190, 196, 27],
   [18, 21, 3],
   [4, 4, 0],
   [11, 10, 1],
   [5, 7, 0],
   [7, 10, 0],
   [25, 16, 2],
   [7, 14, 0],
   [0, 1, 0],
   [2, 3, 1],
   [3, 1, 0],
   [2, 3, 2],
   [1, 0, 0],
   [1, 0, 0],
   [2, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [2, 0, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_34',
  87814],
 [[[19655, 10214, 566],
   [11900, 8586, 707],
   [8, 9, 0],
   [5302, 3243, 227],
   [6762, 2735, 185],
   [1454, 439, 29],
   [39, 35, 3],
   [240, 139, 6],
   [232, 217, 22],
   [665, 268, 10],
   [212, 139, 9],
   [646, 353, 28],
   [809, 664, 72],
   [1363, 548, 31],
   [1923, 639, 35],
   [115, 112, 17],
   [1, 1, 0],
   [229, 42, 1],
   [321, 284, 36],
   [774, 242, 14],
   [717, 265, 14],
   [1465, 415, 30],
   [72, 44, 2],
   [103, 48, 3],
   [31, 30, 5],
   [38, 33, 5],
   [106, 71, 2],
   [61, 37, 4],
   [33, 29, 5],
   [33, 21, 5],
   [13, 11, 1],
   [7, 3, 0],
   [0, 1, 0],
   [6, 4, 1],
   [10, 9, 0],
   [1, 4, 0],
   [5, 4, 0],
   [2, 0, 0],
   [5, 6, 1],
   [1, 1, 0],
   [1, 2, 0],
   [1, 0, 0],
   [2, 1, 0],
   [2, 0, 0],
   [1, 0, 0],
   [2, 1, 0],
   [1, 1, 0],
   [1, 0, 0],
   [0, 0, 1],
   [4, 4, 0],
   [2, 0, 0],
   [2, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0]],
  'FIELD_35',
  87415],
 [[[4042, 2612, 257],
   [12278, 6856, 626],
   [4033, 2877, 313],
   [740, 500, 44],
   [219, 175, 22],
   [615, 409, 47],
   [9656, 3666, 216],
   [1075, 636, 55],
   [1321, 357, 14],
   [6506, 2859, 200],
   [689, 464, 57],
   [764, 310, 21],
   [580, 369, 40],
   [109, 93, 8],
   [1826, 892, 59],
   [556, 162, 8],
   [1924, 579, 45],
   [1663, 763, 56],
   [247, 218, 23],
   [129, 90, 9],
   [1123, 661, 55],
   [1054, 268, 5],
   [751, 463, 40],
   [226, 162, 12],
   [612, 186, 13],
   [559, 357, 58],
   [1286, 466, 23],
   [11, 3, 1],
   [874, 198, 8],
   [1581, 551, 20],
   [1586, 533, 24],
   [880, 221, 14],
   [1434, 372, 12],
   [552, 306, 32],
   [837, 279, 15],
   [178, 34, 1],
   [953, 481, 40],
   [2, 3, 0],
   [80, 68, 4],
   [1270, 566, 35],
   [25, 21, 6],
   [100, 72, 8],
   [4, 3, 0],
   [99, 52, 9],
   [18, 16, 3],
   [21, 15, 1],
   [18, 12, 1],
   [73, 36, 8],
   [2, 1, 1],
   [6, 4, 0],
   [90, 39, 3],
   [9, 3, 0],
   [8, 2, 0],
   [3, 0, 1],
   [1, 2, 0],
   [2, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 1, 0],
   [0, 1, 0]],
  'FIELD_36',
  99222],
 [[[5069, 2131, 131],
   [14371, 8368, 890],
   [10344, 5215, 415],
   [891, 264, 13],
   [634, 278, 18],
   [1447, 651, 40],
   [21219, 9700, 722],
   [185, 119, 22],
   [829, 495, 65],
   [1634, 527, 27],
   [1044, 437, 22],
   [1987, 783, 42],
   [38, 17, 5],
   [1209, 451, 18],
   [242, 137, 13],
   [371, 239, 23],
   [1210, 466, 22],
   [17, 7, 0],
   [1150, 400, 24],
   [9, 4, 0],
   [28, 17, 3],
   [249, 121, 9],
   [149, 100, 19],
   [202, 47, 2],
   [5, 3, 1],
   [172, 68, 2],
   [250, 146, 9],
   [195, 77, 8],
   [6, 11, 2],
   [149, 53, 7],
   [20, 5, 0],
   [11, 10, 1],
   [22, 11, 0],
   [0, 1, 0],
   [7, 3, 0],
   [1, 0, 1],
   [10, 5, 1],
   [7, 4, 0],
   [1, 0, 0],
   [1, 0, 0],
   [5, 1, 0],
   [1, 1, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 3, 0],
   [0, 2, 0],
   [0, 1, 0],
   [0, 1, 0]],
  'FIELD_37',
  99353],
 [[[54657, 23209, 1529],
   [27567, 14582, 1040],
   [100330, 29188, 1757],
   [1099, 798, 74],
   [118885, 27718, 1825],
   [7291, 4542, 357],
   [3734, 2487, 225],
   [1116, 704, 56],
   [0, 1, 0],
   [2, 0, 0],
   [1, 0, 0]],
  'FIELD_38',
  424774],
 [[[9130, 3453, 193],
   [10267, 3795, 212],
   [28404, 10427, 654],
   [41124, 15739, 1128],
   [57994, 21772, 1471],
   [163137, 46259, 3060],
   [2694, 985, 63],
   [1983, 819, 79],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_40',
  424845],
 [[[3589, 1325, 108],
   [13041, 4739, 284],
   [35860, 12446, 798],
   [131259, 38064, 2584],
   [50694, 18175, 1250],
   [63374, 22211, 1455],
   [3837, 1426, 83],
   [13031, 4844, 295],
   [1, 0, 0]],
  'FIELD_41',
  424773],
 [[[43597, 14061, 880],
   [51440, 17091, 1057],
   [49905, 16816, 1173],
   [43316, 13182, 943],
   [45851, 15319, 1077],
   [32572, 10429, 762],
   [21127, 6955, 405],
   [26801, 9350, 557],
   [52, 10, 1]],
  'FIELD_42',
  424729],
 [[[5, 0, 0],
   [653, 399, 33],
   [8, 1, 0],
   [219, 89, 11],
   [37, 13, 1],
   [4, 0, 0],
   [5, 3, 0],
   [0, 1, 0],
   [4, 0, 0]],
  'FIELD_43',
  1486],
 [[[569, 324, 29], [36, 14, 2], [284, 157, 14], [1, 0, 0]], 'FIELD_44', 1430],
 [[[683, 385, 37], [186, 102, 7], [17, 8, 1]], 'FIELD_45', 1426],
 [[[733, 433, 35], [141, 59, 10], [12, 3, 0]], 'FIELD_46', 1426],
 [[[669, 375, 33], [201, 114, 12], [16, 6, 0]], 'FIELD_47', 1426],
 [[[8774, 2893, 171],
   [2315, 669, 48],
   [110, 38, 0],
   [525, 122, 8],
   [1, 0, 0],
   [2, 1, 0],
   [1, 0, 0]],
  'FIELD_48',
  15678],
 [[[10282, 3326, 207],
   [1170, 317, 16],
   [232, 60, 4],
   [43, 19, 0],
   [2, 1, 0],
   [1, 0, 0]],
  'FIELD_49',
  15680],
 [[[10079, 3265, 199], [1282, 362, 23], [88, 25, 0], [278, 70, 5], [2, 1, 0]],
  'FIELD_50',
  15679],
 [[[10349, 3343, 204], [1057, 296, 21], [86, 24, 0], [235, 59, 2], [2, 1, 0]],
  'FIELD_51',
  15679],
 [[[2931, 1398, 90], [791, 373, 28], [2, 0, 0]], 'FIELD_52', 5613],
 [[[3676, 1742, 117], [37, 25, 1]], 'FIELD_53', 5598],
 [[[3674, 1744, 118], [37, 23, 0]], 'FIELD_54', 5596],
 [[[3671, 1747, 118], [36, 19, 0]], 'FIELD_55', 5591],
 [[[3672, 1747, 118], [35, 18, 0]], 'FIELD_56', 5590],
 [[[3656, 1740, 118], [50, 26, 0], [1, 0, 0]], 'FIELD_57', 5591],
 [[[3670, 1746, 118], [36, 20, 0]], 'FIELD_58', 5590],
 [[[106, 23, 5], [480, 277, 25], [1, 0, 0]], 'FIELD_59', 917],
 [[[551, 290, 28], [31, 10, 2], [1, 0, 0]], 'FIELD_60', 913],
 [[[539, 291, 29], [42, 9, 1], [1, 0, 0]], 'FIELD_61', 912],
 [[[3579, 1721, 112], [120, 45, 6], [3, 0, 0]], 'FIELD_62', 5586],
 [[[3535, 1686, 110], [169, 80, 8], [2, 0, 0]], 'FIELD_63', 5590],
 [[[18869, 7869, 426], [2366, 1369, 88], [1, 1, 0], [0, 1, 0]],
  'FIELD_64',
  30990],
 [[[949, 590, 32],
   [1713, 811, 50],
   [161, 108, 8],
   [294, 186, 16],
   [201, 86, 4],
   [5, 2, 0]],
  'FIELD_65',
  5216],
 [[[4714, 1742, 110],
   [5811, 1974, 88],
   [9604, 5179, 298],
   [1314, 424, 20],
   [11, 5, 0]],
  'FIELD_66',
  31294],
 [[[5696, 2254, 127],
   [2982, 1508, 88],
   [5462, 2503, 111],
   [226, 90, 2],
   [909, 492, 30],
   [811, 418, 21],
   [137, 81, 11],
   [608, 223, 10],
   [252, 112, 9],
   [12, 7, 1],
   [41, 25, 0],
   [45, 11, 0],
   [2, 1, 0],
   [15, 3, 1],
   [23, 13, 1],
   [18, 9, 0],
   [9, 1, 0],
   [4, 0, 0],
   [2, 4, 1],
   [1, 1, 0],
   [1, 1, 0],
   [5, 1, 0],
   [1, 2, 0],
   [1, 0, 0],
   [1, 0, 0],
   [6, 0, 0],
   [2, 0, 0],
   [1, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 1, 0]],
  'FIELD_67',
  25458],
 [[[1409, 544, 26],
   [670, 260, 10],
   [843, 294, 20],
   [788, 347, 21],
   [27, 21, 0],
   [154, 64, 3],
   [1, 0, 0],
   [795, 304, 13],
   [199, 140, 9],
   [2, 2, 0],
   [19, 19, 3],
   [144, 115, 8],
   [50, 34, 3],
   [15, 17, 4],
   [28, 30, 0],
   [172, 42, 2],
   [8, 10, 0],
   [0, 2, 0],
   [11, 4, 0],
   [3, 1, 0],
   [2, 1, 0],
   [10, 6, 1],
   [0, 1, 0],
   [7, 1, 0],
   [2, 0, 0],
   [0, 1, 0],
   [1, 0, 0]],
  'FIELD_68',
  7743],
 [[[4702, 2595, 146],
   [45, 23, 2],
   [1752, 1087, 73],
   [8, 8, 0],
   [154, 96, 8],
   [11, 17, 1],
   [24, 11, 2],
   [1, 0, 0],
   [12, 11, 1],
   [5, 6, 0],
   [11, 7, 0],
   [1, 2, 0],
   [1, 1, 0],
   [2, 2, 0],
   [1, 2, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 2, 0]],
  'FIELD_69',
  10835],
 [[[1477, 460, 21],
   [8, 1, 0],
   [1194, 419, 22],
   [146, 71, 1],
   [534, 212, 9],
   [138, 53, 0],
   [71, 27, 1],
   [0, 1, 0],
   [0, 1, 0],
   [1, 0, 0],
   [2, 1, 1],
   [2, 2, 0],
   [22, 12, 0],
   [10, 6, 1],
   [1, 1, 0],
   [2, 0, 0],
   [0, 1, 0],
   [7, 4, 0],
   [15, 8, 1],
   [1, 0, 0],
   [0, 2, 0],
   [1, 1, 0],
   [4, 2, 0],
   [1, 1, 0],
   [2, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_72',
  4987],
 [[[956, 496, 25],
   [1213, 583, 27],
   [63, 33, 0],
   [308, 176, 12],
   [6, 1, 1],
   [5, 2, 0],
   [5, 4, 0],
   [73, 32, 0],
   [11, 5, 1],
   [0, 1, 0],
   [1, 1, 0],
   [1, 0, 0],
   [1, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [12, 3, 0],
   [1, 0, 0],
   [2, 1, 0],
   [2, 2, 0],
   [0, 1, 0],
   [2, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_73',
  4080],
 [[[2458, 788, 24],
   [1382, 527, 30],
   [104, 48, 5],
   [354, 131, 9],
   [44, 19, 3],
   [2, 1, 0],
   [1, 0, 0],
   [1, 1, 0],
   [27, 9, 0],
   [2, 0, 0],
   [2, 2, 0],
   [2, 1, 0],
   [13, 4, 0],
   [0, 1, 0],
   [2, 0, 0],
   [10, 3, 0],
   [7, 2, 0],
   [1, 4, 0],
   [2, 1, 0],
   [1, 0, 0],
   [3, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_74',
  6039],
 [[[3, 1, 0],
   [130, 57, 2],
   [759, 254, 16],
   [560, 287, 9],
   [34, 20, 3],
   [32, 13, 2],
   [3, 8, 0],
   [53, 14, 0],
   [18, 6, 0],
   [23, 15, 0],
   [9, 1, 0],
   [11, 4, 0],
   [135, 81, 0],
   [8, 4, 0],
   [2, 1, 0],
   [35, 6, 0],
   [6, 2, 0],
   [1, 1, 0],
   [3, 2, 0],
   [0, 1, 0],
   [6, 3, 0],
   [14, 10, 0],
   [3, 1, 0],
   [3, 0, 0],
   [8, 3, 0],
   [1, 0, 0],
   [6, 3, 1],
   [1, 0, 0],
   [10, 2, 0],
   [2, 0, 0],
   [2, 1, 0],
   [1, 0, 0],
   [8, 2, 0],
   [10, 3, 0],
   [2, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [3, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 1, 0],
   [2, 0, 0],
   [2, 0, 0],
   [2, 2, 1],
   [1, 0, 0],
   [1, 0, 0],
   [0, 0, 1],
   [1, 2, 0],
   [0, 1, 0],
   [1, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_75',
  2770],
 [[[348, 128, 2],
   [264, 141, 11],
   [252, 127, 6],
   [218, 126, 4],
   [108, 47, 2],
   [23, 19, 1],
   [505, 191, 6],
   [10, 4, 0],
   [11, 9, 0],
   [30, 20, 1],
   [1, 1, 0],
   [22, 18, 0],
   [6, 1, 0],
   [2, 0, 0],
   [0, 1, 0],
   [2, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_76',
  2671],
 [[[99, 37, 0], [102, 89, 6], [1, 2, 0], [5, 2, 1], [1, 2, 0]],
  'FIELD_77',
  347],
 [[[427, 162, 4],
   [472, 224, 15],
   [308, 113, 7],
   [368, 122, 5],
   [8, 4, 0],
   [5, 2, 0],
   [64, 19, 1],
   [54, 33, 3],
   [0, 1, 0],
   [4, 0, 0],
   [1, 0, 0],
   [2, 0, 0],
   [1, 4, 0],
   [0, 1, 0],
   [1, 1, 0],
   [4, 0, 0],
   [0, 1, 0],
   [0, 1, 0],
   [1, 0, 0]],
  'FIELD_80',
  2443],
 [[[849, 541, 28],
   [350, 235, 10],
   [86, 31, 1],
   [60, 41, 4],
   [5, 3, 0],
   [2, 1, 0],
   [1, 1, 0],
   [2, 1, 0],
   [6, 9, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 1, 0],
   [2, 0, 0],
   [1, 0, 0]],
  'FIELD_81',
  2277],
 [[[127, 31, 2],
   [289, 99, 1],
   [12, 6, 0],
   [76, 18, 0],
   [195, 76, 3],
   [25, 7, 0],
   [6, 4, 0],
   [2, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 2, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 1, 0],
   [0, 1, 0]],
  'FIELD_84',
  989],
 [[[2567, 1469, 93],
   [2765, 1098, 49],
   [4122, 2031, 108],
   [743, 460, 24],
   [301, 218, 16],
   [8, 4, 0],
   [11, 8, 0],
   [11, 3, 2],
   [71, 36, 4],
   [14, 11, 0],
   [13, 7, 1],
   [9, 1, 0],
   [44, 31, 1],
   [3, 2, 0],
   [0, 1, 0],
   [9, 4, 0],
   [35, 9, 0],
   [6, 1, 0],
   [0, 2, 0],
   [1, 1, 0],
   [1, 3, 0],
   [2, 0, 0],
   [0, 1, 0],
   [1, 1, 0],
   [2, 0, 0],
   [1, 1, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 0, 1],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 1, 0],
   [1, 0, 0]],
  'FIELD_90',
  16452],
 [[[509, 162, 10],
   [6, 0, 0],
   [465, 136, 2],
   [246, 101, 4],
   [212, 60, 4],
   [336, 120, 6],
   [71, 26, 2],
   [20, 9, 0],
   [4, 5, 0],
   [49, 22, 1],
   [29, 14, 0],
   [61, 25, 0],
   [38, 13, 0],
   [4, 2, 0],
   [3, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [2, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_93',
  2786],
 [[[428, 229, 11],
   [634, 336, 18],
   [969, 395, 24],
   [559, 231, 9],
   [291, 148, 5],
   [36, 15, 1],
   [75, 39, 1],
   [3, 1, 0],
   [14, 9, 0],
   [33, 15, 1],
   [111, 65, 0],
   [0, 1, 0],
   [2, 1, 0],
   [1, 0, 0],
   [11, 3, 0],
   [19, 5, 0],
   [7, 7, 0],
   [1, 0, 0],
   [3, 0, 0],
   [1, 0, 0],
   [2, 0, 0],
   [2, 2, 0],
   [1, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 4, 0],
   [2, 1, 0],
   [2, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 0, 1],
   [1, 0, 0]],
  'FIELD_94',
  4792],
 [[[513, 163, 6],
   [897, 303, 10],
   [556, 194, 9],
   [125, 41, 3],
   [258, 101, 7],
   [351, 122, 7],
   [51, 22, 1],
   [1, 3, 0],
   [45, 15, 1],
   [2, 3, 0],
   [1, 0, 0],
   [25, 8, 0],
   [13, 2, 0],
   [2, 2, 1],
   [1, 0, 0],
   [0, 1, 0],
   [8, 5, 0],
   [1, 2, 0],
   [3, 1, 0],
   [2, 2, 0],
   [2, 2, 0],
   [1, 0, 0],
   [0, 1, 0],
   [2, 0, 1],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [2, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [0, 0, 1]],
  'FIELD_95',
  3907],
 [[[286, 126, 6],
   [1, 2, 0],
   [13, 2, 0],
   [206, 82, 1],
   [483, 176, 12],
   [171, 81, 4],
   [27, 10, 4],
   [419, 181, 9],
   [1, 0, 0],
   [30, 13, 0],
   [2, 2, 0],
   [14, 8, 0],
   [78, 45, 4],
   [52, 28, 1],
   [33, 12, 0],
   [12, 11, 0],
   [7, 3, 0],
   [2, 0, 0],
   [4, 1, 0],
   [2, 5, 0],
   [5, 2, 0],
   [15, 3, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [10, 4, 0],
   [7, 3, 0],
   [10, 0, 0],
   [1, 3, 0],
   [3, 1, 0],
   [5, 3, 0],
   [5, 2, 0],
   [4, 2, 0],
   [12, 2, 1],
   [7, 5, 0],
   [9, 3, 1],
   [1, 0, 0],
   [2, 0, 0],
   [1, 1, 0],
   [2, 3, 0],
   [2, 0, 1],
   [4, 2, 0],
   [1, 2, 0],
   [0, 2, 0],
   [2, 0, 0],
   [1, 3, 1],
   [1, 0, 0],
   [3, 0, 0],
   [4, 1, 0],
   [0, 3, 0],
   [0, 1, 0],
   [2, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [2, 0, 0],
   [1, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0]],
  'FIELD_96',
  2863],
 [[[229, 96, 9],
   [217, 82, 3],
   [316, 153, 7],
   [1, 1, 0],
   [80, 28, 1],
   [155, 54, 0],
   [24, 16, 1],
   [319, 103, 4],
   [143, 54, 0],
   [116, 57, 2],
   [56, 25, 0],
   [10, 2, 1],
   [10, 4, 0],
   [2, 1, 0],
   [32, 23, 0],
   [3, 4, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_97',
  2450],
 [[[463, 268, 13],
   [88, 53, 3],
   [1, 1, 0],
   [80, 27, 0],
   [10, 8, 4],
   [4, 1, 0],
   [2, 1, 0],
   [0, 1, 0],
   [4, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_98',
  1037],
 [[[237, 113, 4],
   [225, 86, 7],
   [100, 46, 2],
   [188, 61, 2],
   [258, 90, 2],
   [18, 7, 0],
   [24, 10, 0],
   [95, 37, 1],
   [1, 0, 0],
   [10, 9, 0],
   [1, 0, 0],
   [8, 5, 0],
   [1, 2, 0],
   [11, 2, 0],
   [1, 0, 0],
   [0, 1, 0],
   [1, 1, 0]],
  'FIELD_101',
  1667],
 [[[311, 179, 6],
   [529, 235, 17],
   [619, 408, 20],
   [86, 59, 2],
   [56, 27, 5],
   [3, 2, 0],
   [3, 4, 0],
   [0, 1, 0],
   [2, 0, 0],
   [61, 17, 0],
   [4, 1, 0],
   [7, 6, 0],
   [9, 8, 0],
   [3, 2, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_102',
  2695],
 [[[108, 25, 0],
   [78, 24, 1],
   [264, 85, 0],
   [30, 11, 0],
   [29, 7, 0],
   [171, 59, 0],
   [6, 1, 0],
   [5, 3, 0],
   [8, 3, 0],
   [1, 2, 0],
   [7, 2, 0],
   [2, 1, 0],
   [2, 0, 0],
   [1, 1, 0],
   [1, 0, 0]],
  'FIELD_105',
  938],
 [[[14138, 6039, 344],
   [1773, 859, 36],
   [272, 147, 8],
   [350, 209, 12],
   [831, 334, 15],
   [52, 27, 4],
   [800, 354, 26],
   [159, 70, 2],
   [326, 164, 3],
   [416, 187, 4],
   [208, 95, 3],
   [4, 2, 0],
   [1, 1, 0],
   [1, 0, 0],
   [2, 1, 0]],
  'FIELD_112',
  28279],
 [[[2089, 868, 46],
   [6056, 2336, 148],
   [3918, 1785, 93],
   [3439, 1570, 77],
   [626, 260, 15],
   [3538, 1695, 96],
   [1247, 589, 34],
   [458, 192, 6],
   [2, 0, 0]],
  'FIELD_113',
  31183],
 [[[5332, 2389, 139],
   [612, 308, 15],
   [6598, 2999, 144],
   [260, 143, 11],
   [1567, 892, 64],
   [22, 7, 1],
   [82, 34, 1],
   [178, 97, 7],
   [57, 27, 0],
   [78, 43, 3],
   [49, 17, 0],
   [4, 3, 0],
   [14, 9, 2],
   [1, 0, 0],
   [1, 0, 0],
   [0, 1, 0]],
  'FIELD_114',
  22211],
 [[[12457, 5565, 331],
   [2597, 1107, 53],
   [1237, 477, 18],
   [499, 258, 13],
   [252, 117, 6],
   [927, 350, 14],
   [378, 193, 8],
   [356, 123, 7],
   [461, 202, 8],
   [47, 40, 1],
   [184, 83, 2],
   [9, 0, 0],
   [0, 1, 0],
   [0, 1, 0]],
  'FIELD_115',
  28382],
 [[[694, 344, 12],
   [12735, 5173, 295],
   [2373, 1087, 55],
   [1974, 918, 46],
   [2397, 1182, 76],
   [729, 376, 16],
   [223, 93, 3],
   [253, 120, 12],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_116',
  31188],
 [[[2381, 1138, 66],
   [760, 333, 22],
   [10, 0, 0],
   [1, 0, 0],
   [1, 0, 0],
   [1, 0, 0]],
  'FIELD_117',
  4713],
 [[[24, 12, 0], [221, 155, 8], [0, 2, 0]], 'FIELD_118', 422],
 [[[83, 47, 3], [152, 117, 5], [6, 5, 0]], 'FIELD_119', 418],
 [[[181, 139, 7], [57, 29, 1], [3, 1, 0]], 'FIELD_120', 418],
 [[[196, 143, 7], [45, 25, 1], [0, 1, 0]], 'FIELD_121', 418],
 [[[113, 65, 4], [121, 97, 4], [7, 7, 0]], 'FIELD_122', 418],
 [[[104, 68, 5], [131, 93, 3], [6, 8, 0]], 'FIELD_123', 418],
 [[[68, 37, 2], [169, 127, 6], [4, 5, 0]], 'FIELD_124', 418],

In [18]:
statas=[]
for i in range(len(AllTables)):
    print(i,AllTables[i][1])
    table=AllTables[i][0]
    stat, p, dof, expected = chi2_contingency(table)
    statas.append([AllTables[i][1],stat, p, dof, np.sum(table) , AllTables[i][2] ,AllTables[i][1], table, expected ])

0 FIELD_3
1 FIELD_4
2 FIELD_5
3 FIELD_6
4 FIELD_7
5 FIELD_9
6 FIELD_13
7 FIELD_14
8 FIELD_18
9 FIELD_19
10 FIELD_20
11 FIELD_21
12 FIELD_25
13 FIELD_26
14 FIELD_27
15 FIELD_28
16 FIELD_29
17 FIELD_31
18 FIELD_32
19 FIELD_33
20 FIELD_34
21 FIELD_35
22 FIELD_36
23 FIELD_37
24 FIELD_38
25 FIELD_40
26 FIELD_41
27 FIELD_42
28 FIELD_43
29 FIELD_44
30 FIELD_45
31 FIELD_46
32 FIELD_47
33 FIELD_48
34 FIELD_49
35 FIELD_50
36 FIELD_51
37 FIELD_52
38 FIELD_53
39 FIELD_54
40 FIELD_55
41 FIELD_56
42 FIELD_57
43 FIELD_58
44 FIELD_59
45 FIELD_60
46 FIELD_61
47 FIELD_62
48 FIELD_63
49 FIELD_64
50 FIELD_65
51 FIELD_66
52 FIELD_67
53 FIELD_68
54 FIELD_69
55 FIELD_72
56 FIELD_73
57 FIELD_74
58 FIELD_75
59 FIELD_76
60 FIELD_77
61 FIELD_80
62 FIELD_81
63 FIELD_84
64 FIELD_90
65 FIELD_93
66 FIELD_94
67 FIELD_95
68 FIELD_96
69 FIELD_97
70 FIELD_98
71 FIELD_101
72 FIELD_102
73 FIELD_105
74 FIELD_112
75 FIELD_113
76 FIELD_114
77 FIELD_115
78 FIELD_116
79 FIELD_117
80 FIELD_118
81 FIELD_119
82 FIELD_120
83 FIELD_121
84 FIELD_122
85 FIELD_123
86 FIELD_124
87 FIELD_125
88 FIELD_126
89 FIELD_127
90 FIELD_128
91 FIELD_129
92 FIELD_130
93 FIELD_131
94 FIELD_132
95 FIELD_133
96 FIELD_134
97 FIELD_135
98 FIELD_136
99 FIELD_137
100 FIELD_138
101 FIELD_139
102 FIELD_140
103 CLASS

In [19]:
finalstat=pd.DataFrame( statas ,columns=['Name','stat','p','dof','instances','orginal','Name2', 'table', 'expected'] )
finalstat=finalstat[finalstat.orginal>200000]
finalstat.stat=finalstat.stat.astype(int)
print(finalstat.sort_values(by='stat',ascending=False).shape)
print(list(finalstat.sort_values(by='stat',ascending=False).Name))
finalstat.sort_values(by='stat',ascending=False)
finalstat.sort_values(by='stat',ascending=False)[['Name','stat', 'instances',]].head(20)

(21, 9)
['CLASS', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_31', 'FIELD_41', 'FIELD_27', 'FIELD_21', 'FIELD_14', 'FIELD_42', 'FIELD_32', 'FIELD_4', 'FIELD_29', 'FIELD_3', 'FIELD_19', 'FIELD_28', 'FIELD_13', 'FIELD_20', 'FIELD_26', 'FIELD_25', 'FIELD_18']

         Name    stat  instances
103     CLASS  914890     457445
19   FIELD_33   13884     455181
24   FIELD_38    9482     424774
25   FIELD_40    1684     424845
17   FIELD_31     992     454534
26   FIELD_41     815     424773
14   FIELD_27     364     454077
11   FIELD_21     180     451086
7    FIELD_14     154     456266
27   FIELD_42     141     424729
18   FIELD_32     140     454766
1     FIELD_4      78     446905
16   FIELD_29      42     454588
0     FIELD_3      36     251201
9    FIELD_19      26     456338
15   FIELD_28      21     453980
6    FIELD_13      17     456239
10   FIELD_20      16     451062
13   FIELD_26      13     451225
12   FIELD_25       7     451079

In [20]:
AllTables[i]

[[[0, 112783, 0], [337211, 0, 0], [0, 0, 7451]], 'CLASS', 457445]

In [21]:
mydata.FIELD_73.unique()

array([     nan, 2.00e+00, 1.00e+00, 5.00e+00, 3.00e+00, 7.00e+00,
       1.00e+03, 1.00e+01, 4.00e+00, 0.00e+00, 3.00e+02, 5.00e+02,
       1.20e+03, 2.20e+01, 1.11e+02, 2.00e+02, 1.10e+02, 6.00e+00,
       2.00e+01, 1.10e+01, 8.00e+00, 3.00e+03, 1.50e+03, 3.40e+01,
       5.55e+02, 3.50e+02, 1.20e+01, 5.50e+01, 2.00e+03, 6.00e+02])