In [19]:
%load_ext nb_black
import numpy as np
import pandas as pd
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics as m
import xgboost as xgb
import seaborn as sns

from imblearn.over_sampling import SMOTE  # doctest: +NORMALIZE_WHITESPACE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from collections import Counter

from collections import Counter
from numpy.random import RandomState
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTENC


warnings.filterwarnings("ignore")
random_seed = 8

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [2]:
data1 = pd.read_csv("../NextYearData_actualData_train.txt")
data2 = pd.read_csv("../ThisYearData_actualData_train.txt")
data3 = pd.read_csv("../ThisYearData_actualData_test.txt")

data4 = pd.read_csv("../NextYearData_actualData_test.txt")
data5 = pd.read_csv("../Predicted_NextYearData.txt")

In [3]:
data = pd.read_csv("../../sep19SexAndAgeAddedFINAL DATASET_ver2.txt")

# filter the data set
data = data[data.FIELD_16 != 1]  # exclude people who are diagnosed for (diabetes)
data = data[data.FIELD_23 != 1]  # exclude people who are on medication for diabetes

data = data[
    data.FIELD_15 != 1
]  # exclude people who are diagnosed for (high blood pressure)
data = data[
    data.FIELD_22 != 1
]  # exclude people who are on medication for high blood pressure

data = data[data.FIELD_17 != 1]  # exclude people who are diagnosed for hyperlipidemia
data = data[
    data.FIELD_24 != 1
]  # exclude people who are on medication for hyperlipidemia


conditions = [
    (data.L100800 < 100),
    (data.L100800 >= 100) & (data.L100800 < 126),
    (data.L100800 >= 126),
]
choices = [0, 1, 2]
data["CLASS"] = np.select(conditions, choices, default=0)

In [4]:
maindata = data.copy()

maindata = maindata[
    [
        "FIELD_1",
        "FIELD_2",
        "L104600",
        "L103000",
        "S000300",
        "L101700",
        "L100700",
        "FIELD_33",
        "FIELD_38",
        "FIELD_40",
        "FIELD_31",
        "SEX",
        "AGE",
        "L100800",
        "CLASS",
    ]
]
maindata["index"] = maindata.index
print(maindata.shape)

(466680, 16)

In [5]:
# exclude data points which are going to be used for trainig
print(data4.shape)

temp = pd.merge(
    maindata[["index", "FIELD_1", "FIELD_2"]],
    data4[["FIELD_1", "FIELD_2"]],
    how="inner",
    left_on=["FIELD_1", "FIELD_2"],
    right_on=["FIELD_1", "FIELD_2"],
)

print(temp.shape)

maindata = maindata.drop(temp["index"])
maindata.shape

(12458, 16)
(12092, 3)

(454588, 16)

In [6]:
maindata = maindata.dropna()
print(maindata.shape)

(130632, 16)

In [7]:
maindata.columns

Index(['FIELD_1', 'FIELD_2', 'L104600', 'L103000', 'S000300', 'L101700',
       'L100700', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_31', 'SEX', 'AGE',
       'L100800', 'CLASS', 'index'],
      dtype='object')

In [8]:
maindata.groupby(by="CLASS").size()

CLASS
0    95662
1    32739
2     2231
dtype: int64

In [9]:
maindata.columns

Index(['FIELD_1', 'FIELD_2', 'L104600', 'L103000', 'S000300', 'L101700',
       'L100700', 'FIELD_33', 'FIELD_38', 'FIELD_40', 'FIELD_31', 'SEX', 'AGE',
       'L100800', 'CLASS', 'index'],
      dtype='object')

In [21]:
x = maindata[
    [
        "L104600",
        "L103000",
        "S000300",
        "L101700",
        "L100700",
        "FIELD_33",
        "FIELD_38",
        "FIELD_40",
        "FIELD_31",
        "SEX",
        "AGE",
    ]
]

y = maindata[["CLASS"]]

In [11]:
maindata.to_csv("o_test.txt", sep=",")

In [12]:
sm = SMOTE(random_state=random_seed)
X_res, y_res = sm.fit_resample(x, y)

print("Resampled dataset shape %s" % Counter(y_res))
print(
    y_res[y_res == 0].shape[0], y_res[y_res == 1].shape[0], y_res[y_res == 2].shape[0]
)
print(X_res.shape, y_res.shape)

y_res2 = y_res.copy()

Resampled dataset shape Counter({1: 95662, 0: 95662, 2: 95662})
95662 95662 95662
(286986, 11) (286986,)

In [17]:
temp = pd.DataFrame(X_res)
temp.columns = x.columns
temp["CLASS"] = y_res
temp.tail()

,L104600,L103000,S000300,L101700,L100700,FIELD_33,FIELD_38,FIELD_40,FIELD_31,SEX,AGE,CLASS
286981,8.124839,64.554633,22.439555,14.882431,3.700000,1.000000,0.000000,0.000000,0.554633,0.445367,56.000000,2
286982,6.592784,120.000000,24.113333,29.725492,4.838039,2.309803,1.000000,0.654902,0.000000,0.000000,46.654902,2
286983,7.632712,296.403725,29.752794,64.865425,5.513458,2.567288,1.567288,1.298137,0.000000,0.000000,43.269150,2
286984,6.893774,203.000000,21.324904,36.925287,4.113697,1.024904,2.000000,1.000000,0.987548,0.987548,52.024904,2
286985,7.861178,185.711433,22.482576,147.248624,5.305992,3.000000,3.000000,0.865702,0.711433,0.000000,47.422865,2

In [16]:
maindata.tail()

,FIELD_1,FIELD_2,L104600,L103000,S000300,L101700,L100700,FIELD_33,FIELD_38,FIELD_40,FIELD_31,SEX,AGE,L100800,CLASS,index
535157,999977,20130907,5.00,102.0,27.7,31.0,5.2,1.0,3.0,2.0,0.0,0.0,46.0,88.0,0,535157
535158,999977,20140726,5.10,60.0,27.4,29.0,6.2,1.0,3.0,3.0,0.0,0.0,47.0,93.0,0,535158
535160,999977,20160729,5.08,85.0,27.4,37.0,7.1,1.0,3.0,3.0,0.0,0.0,49.0,102.0,1,535160
535161,999977,20170807,4.92,236.0,28.2,42.0,6.3,1.0,3.0,2.0,0.0,0.0,50.0,93.0,0,535161
535166,999986,20170629,6.97,110.0,27.2,132.0,8.0,1.0,4.0,2.0,0.0,0.0,50.0,164.0,2,535166

In [36]:
# from sklearn.preprocessing import LabelEncoder

# enc = LabelEncoder()
# enc.fit(x.FIELD_40)
# x.FIELD_40 = enc.transform(x.FIELD_40)

In [ ]:
# x.FIELD_40 = x.FIELD_40.astype(int)

sm = SMOTENC(random_state=42, categorical_features=[5,6,7,8])
X_res, y_res = sm.fit_resample(x, y)
print("Resampled dataset samples per class {}".format(Counter(y_res)))

In [38]:
x.FIELD_40.unique()

array([2, 0, 1, 5, 6, 4, 3, 7, 8], dtype=int64)