In [2]:
%load_ext nb_black
# !pip install nb_black

In [3]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")
from matplotlib import pyplot as plt

In [5]:
data = data = pd.read_csv(
    "../../../../sep19SexAndAgeAddedFINAL DATASET_ver2.txt", sep=","
)

In [6]:
data.head()

,Unnamed: 0,FIELD_1,FIELD_2,COMPARE,AGE,B_DAY,SEX,FIELD_3,FIELD_4,FIELD_5,...,S004423,S004424,S005200,S007400,S008501,S008502,S008503,S008504,S010101,S010102
0,0,1000003,20130913,100000320130913,46.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,14.0
1,1,1000003,20140613,100000320140613,47.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,16.0
2,2,1000003,20150917,100000320150917,48.0,670212.0,0.0,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,16.0
3,3,1000003,20160617,100000320160617,49.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0
4,4,1000003,20170608,100000320170608,50.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0

In [10]:
tempdata = data.copy()

In [16]:
temp = (tempdata.FIELD_2 / 10000).astype(int)
tempdata["year"] = temp

In [17]:
tempdata.head()

,Unnamed: 0,FIELD_1,FIELD_2,COMPARE,AGE,B_DAY,SEX,FIELD_3,FIELD_4,FIELD_5,...,S004424,S005200,S007400,S008501,S008502,S008503,S008504,S010101,S010102,year
0,0,1000003,20130913,100000320130913,46.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,14.0,2013
1,1,1000003,20140613,100000320140613,47.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,16.0,2014
2,2,1000003,20150917,100000320150917,48.0,670212.0,0.0,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,16.0,2015
3,3,1000003,20160617,100000320160617,49.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,2016
4,4,1000003,20170608,100000320170608,50.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,2017

In [24]:
gtemp = tempdata.groupby(by=["FIELD_1"]).size().reset_index(name="freq")
gtemp.head()

   FIELD_1  freq
0       37     1
1       64     4
2      104     1
3      105     2
4      323     4

In [26]:
gtemp[gtemp.freq > 2].count()

FIELD_1    67149
freq       67149
dtype: int64