In [1]:
from matplotlib import pyplot as plt
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from scipy import stats
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix 
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from keras.layers import Dropout
from keras.layers import BatchNormalization
from keras.models import model_from_json
from keras.utils import multi_gpu_model 
from keras.utils import to_categorical

Using TensorFlow backend.

Read the data
===========

In [9]:
x_original=pd.read_csv('_xlable4_withNa_AllColumns.txt')
y_original=pd.read_csv('_targelable4_withNa_AllColumns.txt')

x_original=x_original[['Unnamed: 0','L103100', 'L103300', 'L103000', 'SEX', 'S000300', 'L190300', 'L100500', 'L100700', 
                       'L190400', 'S000100', 'L190500', 'L101300', 'S000501', 'L103800', 'L103700', 'L100800', 'L101400', 
                       'S000502', 'L101600', 'FIELD_33',  'FIELD_40', 'FIELD_21', 'FIELD_29', 'FIELD_38', 
                       'FIELD_41', 'FIELD_14', 'FIELD_42', 'FIELD_27', 'FIELD_31','AGE','L100800'
#                        'FIELD_7','FIELD_6', 
                      ]]

y_original=y_original[['Unnamed: 0','L103100', 'L103300', 'L103000', 'SEX', 'S000300', 'L190300', 'L100500', 'L100700', 
                       'L190400', 'S000100', 'L190500', 'L101300', 'S000501', 'L103800', 'L103700', 'L100800', 'L101400', 
                       'S000502', 'L101600', 'FIELD_33',  'FIELD_40', 'FIELD_21', 'FIELD_29', 'FIELD_38', 
                       'FIELD_41', 'FIELD_14', 'FIELD_42', 'FIELD_27', 'FIELD_31','AGE','L100800'
#                        'FIELD_7','FIELD_6',
                      ]]

print(x_original.shape)
print(y_original.shape)

(159381, 30)
(159381, 30)

In [10]:
for index,col in enumerate(x_original.columns):
    print(col,x_original[col].dropna().shape[0])

Unnamed: 0 159381
L101300 159247
L101200 159247
L101700 158951
S000300 159075
L100700 152474
L190400 159241
L103300 135222
L190500 159204
L190300 159204
SEX 159381
L103000 158939
L101400 130752
L101600 152251
S000501 159305
L103100 158880
L100500 158954
S000502 159305
FIELD_33 159069
FIELD_40 159083
FIELD_21 159366
FIELD_29 159365
FIELD_38 159077
FIELD_41 159053
FIELD_14 159361
FIELD_42 159032
FIELD_27 159365
FIELD_31 159366
AGE 159381
L100800 159236

Prepare the data
============

In [11]:
df=x_original.copy()
conditions = [
    (df.S000501 < 120)  ,
    (df.S000501 >= 120) & (df.S000501 < 130),
    (df.S000501 >=130)]
choices = [0,1,2]
df['sbpG'] = np.select(conditions, choices, default=0)
df.head()
x_original=df.copy()

conditions2 = [
    (df.S000502 < 80)  ,
    (df.S000502 >= 80) & (df.S000502 < 90),
    (df.S000502 >=90)]
choices2 = [0,1,2]
df['dbpG'] = np.select(conditions2, choices2, default=0)
df.head()
x_original=df.copy()

conditions3 = [
    (df.AGE < 30)  ,
    (df.AGE >= 30) & (df.AGE < 40),
    (df.AGE >= 40) & (df.AGE < 50),
    (df.AGE >= 50) & (df.AGE < 60),
    (df.AGE >= 60)]
choices3 = [0,1,2,3,4]
df['AgeG'] = np.select(conditions3, choices3, default=0)
df.head()
x_original=df.copy()


conditions4 = [
    (df.L100800 < 100)  ,
    (df.L100800 >= 100) & (df.L100800 < 126), 
    (df.L100800 >= 126)]
choices4 = [0,1,2]
df['CLASS'] = np.select(conditions4, choices4, default=0)
df.head()
x_original=df.copy()

In [12]:
data= pd.merge(x_original,y_original, how='inner',left_on='Unnamed: 0', right_on='Unnamed: 0')
data=data.dropna(). reset_index()

# data=data[data.AGE_x >= 40]
# data=data[data.AGE_x < 50]

# data=data[data.CLASS_x==0]
# data=data[data.sbpG==0]
# data=data[data.dbpG==0]

# data=data[data.L100800_y <200]

print(data.shape)

(104582, 64)

In [13]:
print(data.shape)
print(data.columns)
data.head()

(104582, 64)
Index(['index', 'Unnamed: 0', 'L101300_x', 'L101200_x', 'L101700_x',
       'S000300_x', 'L100700_x', 'L190400_x', 'L103300_x', 'L190500_x',
       'L190300_x', 'SEX_x', 'L103000_x', 'L101400_x', 'L101600_x',
       'S000501_x', 'L103100_x', 'L100500_x', 'S000502_x', 'FIELD_33_x',
       'FIELD_40_x', 'FIELD_21_x', 'FIELD_29_x', 'FIELD_38_x', 'FIELD_41_x',
       'FIELD_14_x', 'FIELD_42_x', 'FIELD_27_x', 'FIELD_31_x', 'AGE_x',
       'L100800_x', 'sbpG', 'dbpG', 'AgeG', 'CLASS', 'L101300_y', 'L101200_y',
       'L101700_y', 'S000300_y', 'L100700_y', 'L190400_y', 'L103300_y',
       'L190500_y', 'L190300_y', 'SEX_y', 'L103000_y', 'L101400_y',
       'L101600_y', 'S000501_y', 'L103100_y', 'L100500_y', 'S000502_y',
       'FIELD_33_y', 'FIELD_40_y', 'FIELD_21_y', 'FIELD_29_y', 'FIELD_38_y',
       'FIELD_41_y', 'FIELD_14_y', 'FIELD_42_y', 'FIELD_27_y', 'FIELD_31_y',
       'AGE_y', 'L100800_y'],
      dtype='object')

,index,Unnamed: 0,L101300_x,L101200_x,L101700_x,S000300_x,L100700_x,L190400_x,L103300_x,L190500_x,...,FIELD_21_y,FIELD_29_y,FIELD_38_y,FIELD_41_y,FIELD_14_y,FIELD_42_y,FIELD_27_y,FIELD_31_y,AGE_y,L100800_y
0,0,0,8.0,17.0,13.0,20.1,3.0,12.3,3.1,38.2,...,0.0,0.0,1.0,3.0,0.0,4.0,0.0,0.0,45.0,89.0
1,1,1,9.0,21.0,14.0,19.7,3.0,13.1,3.3,39.0,...,0.0,0.0,2.0,2.0,0.0,3.0,0.0,0.0,46.0,78.0
2,2,2,10.0,19.0,15.0,20.2,3.8,12.9,3.4,38.4,...,0.0,0.0,2.0,3.0,0.0,4.0,0.0,0.0,47.0,86.0
3,3,3,12.0,15.0,10.0,24.8,3.7,13.5,2.8,40.3,...,0.0,0.0,0.0,3.0,0.0,1.0,1.0,0.0,52.0,90.0
4,4,4,12.0,16.0,12.0,25.5,3.4,12.6,2.9,38.6,...,0.0,1.0,0.0,5.0,0.0,0.0,0.0,1.0,53.0,88.0

In [19]:
x=data[['L101300_x', 'L101200_x', 'L101700_x', 'S000300_x', 'L100700_x', 'L190400_x', 'L103300_x', 
                       'L190500_x', 'L190300_x', 'SEX_x', 'L103000_x', 'L101400_x', 'L101600_x', 'S000501_x', 'L103100_x', 'L100500_x', 
                       'S000502_x', 'FIELD_33_x',  'FIELD_40_x', 'FIELD_21_x', 'FIELD_29_x', 'FIELD_38_x', 
                       'FIELD_41_x', 'FIELD_14_x', 'FIELD_42_x', 'FIELD_27_x', 'FIELD_31_x','AGE_x','L100800_x',
        'CLASS','sbpG','dbpG','AgeG']]

y=data[['L101300_y', 'L101200_y', 'L101700_y', 'S000300_y', 'L100700_y', 'L190400_y', 'L103300_y', 
                       'L190500_y', 'L190300_y', 'SEX_y', 'L103000_y', 'L101400_y', 'L101600_y', 'S000501_y', 'L103100_y', 'L100500_y', 
                       'S000502_y', 'FIELD_33_y',  'FIELD_40_y', 'FIELD_21_y', 'FIELD_29_y', 'FIELD_38_y', 
                       'FIELD_41_y', 'FIELD_14_y', 'FIELD_42_y', 'FIELD_27_y', 'FIELD_31_y','AGE_y','L100800_y'
        ]]

Check the correlation of the selected feature with the independent variables
=====

In [20]:
temppd=pd.DataFrame(x.copy())
temppd['y']=y.L101300_y
temppd.head()
corval=abs(temppd.corr()).sort_values(by='y', ascending=False)

In [21]:
corval.y

y             1.000000
L101300_x     0.572303
L101700_x     0.385448
L101200_x     0.369456
S000300_x     0.365409
L190400_x     0.322932
SEX_x         0.317638
L100700_x     0.314367
L190500_x     0.310077
L190300_x     0.308420
L103300_x     0.307075
L103000_x     0.279862
S000501_x     0.242823
L103100_x     0.236202
sbpG          0.220766
S000502_x     0.214528
L100500_x     0.214510
FIELD_33_x    0.212567
L100800_x     0.192315
L101600_x     0.191862
L101400_x     0.179461
CLASS         0.178926
dbpG          0.173649
FIELD_38_x    0.103900
AgeG          0.027022
AGE_x         0.025078
FIELD_40_x    0.023117
FIELD_29_x    0.016287
FIELD_31_x    0.013490
FIELD_42_x    0.008357
FIELD_21_x    0.007935
FIELD_41_x    0.007046
FIELD_14_x    0.005605
FIELD_27_x    0.001180
Name: y, dtype: float64

In [22]:
#histogram plot of the features
# import matplotlib.pyplot as plt
# x[x.dtypes[(x.dtypes=="float64")|(x.dtypes=="int64")]
#                         .index.values].hist(figsize=[11,11])

Apply PCA
===========

In [23]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=8)
# pca.fit(x)

# print(pca.explained_variance_ratio_)   
# print(np.sum(pca.explained_variance_ratio_))

# x=pca.fit_transform(x) 
# print(x.shape)

feature scaling
=======

In [24]:
# from sklearn import preprocessing
# min_max_scaler = preprocessing.MinMaxScaler()  #StandardScaler()
# x = min_max_scaler.fit_transform(x)

clustring test
==========

In [ ]:
# from sklearn.cluster import KMeans
# from scipy.spatial.distance import cdist

# K = range(1,10)
# distortions = []

# for k in K:
#     kmeanModel = KMeans(n_clusters=k).fit(x)
#     kmeanModel.fit(x)
#     distortions.append(sum(np.min(cdist(x, kmeanModel.cluster_centers_, 'euclidean'), axis=1)) / x.shape[0])

# # Plot the elbow
# plt.plot(K, distortions, 'bx-')
# plt.xlabel('k')
# plt.ylabel('Distortion')
# plt.title('The Elbow Method showing the optimal k')
# plt.show()

In [ ]:
# kmeanModel = KMeans(n_clusters=k).fit(x)
# x['lbl']=kmeanModel.labels_

In [ ]:
# x.columns

Random Forest Regressor
=============

In [ ]:
ylable=y[['L101300_y']]  
xtrain,xtest,ytrain,ytest=train_test_split(x, ylable, random_state=42, test_size=0.2)

In [ ]:
regr = RandomForestRegressor(max_depth=7, random_state=0,verbose =0,n_estimators=500)
regr.fit(xtrain, ytrain) 
print(regr.feature_importances_)
ypred=regr.predict(xtest)

In [ ]:

import math
print('mean_squared_error',mean_squared_error(ytest, ypred))
print('root mean_squared_error',math.sqrt(mean_squared_error(ytest, ypred)))
print('mean_absolute_error',mean_absolute_error(ytest, ypred))
print('r2_score',r2_score(ytest, ypred))

ypredPD=pd.DataFrame()
# ypredPD['t']=xtest['S000501_x'].values
ypredPD['t + 1']=ytest.values.ravel()
ypredPD['pred (t +1)']=ypred
ypredPD.head(30)

import matplotlib.patches as mpatches
plt.ylabel('Values')
plt.xlabel('index')
red_patch = mpatches.Patch(color='red', label='Actual data')
blue_patch = mpatches.Patch(color='blue', label='Predicted data')
plt.legend(handles=[red_patch,blue_patch])

ypredPD=ypredPD.sort_values(by=['t + 1'])
plt.scatter(np.arange(0,ypredPD.shape[0],1),ypredPD['pred (t +1)'][:ypredPD.shape[0]])
plt.plot(np.arange(0,ypredPD.shape[0],1),ypredPD['t + 1'][:ypredPD.shape[0]],color='red')
plt.show()

plt.ylabel('p*(t+1), Predicted data')
plt.xlabel('p(t+1), Actual data')
plt.scatter(ypredPD['t + 1'][:ypredPD.shape[0]],ypredPD['pred (t +1)'][:ypredPD.shape[0]])

ypredPD.tail(10)

In [ ]:
# tempdata=pd.DataFrame(xtest.copy())
# tempdata['ytest']=ytest
# # temp=temp.dropna()
# # tempdata.head()
# # tempdata[tempdata.ytest.isna()].index

# tempdata=tempdata.drop(tempdata[tempdata.ytest.isna()].index)

xg boost
==========

In [ ]:
import xgboost as xgb
# from sklearn.metrics import mean_squared_error
# import pandas as pd
# import numpy as np

In [ ]:
xg_reg = xgb.XGBRegressor()
# xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, 
#                           learning_rate = 0.1,max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(xtrain, ytrain)

In [ ]:

ypred = xg_reg.predict(xtest)

import math
print('mean_squared_error',mean_squared_error(ytest, ypred))
print('root mean_squared_error',math.sqrt(mean_squared_error(ytest, ypred)))
print('mean_absolute_error',mean_absolute_error(ytest, ypred))
print('r2_score',r2_score(ytest, ypred))

# ypredPD=pd.DataFrame()
# ypredPD['t']=xtest['S000501_x'].values
# ypredPD['t + 1']=ytest.values
# ypredPD['pred (t +1)']=ypred
# ypredPD.head(10)

In [ ]:
# ytest[ytest.isna()].shape
# tempdata.iloc[:,-1]

ANN
==========

In [ ]:
model= Sequential()
model.add(Dense(input_dim=34,units=128,activation='relu', kernel_initializer='uniform'))
model.add(Dense(units=128, activation='relu', kernel_initializer='uniform')) 
# model.add(BatchNormalization())
# model.add(Dropout(0.25))  
model.add(Dense(units=64, activation='relu', kernel_initializer='uniform'))
model.add(Dense(units=32, activation='relu', kernel_initializer='uniform')) 
model.add(BatchNormalization())
model.add(Dropout(0.25))  
model.add(Dense(units=16, activation='relu', kernel_initializer='uniform'))
model.add(BatchNormalization())
model.add(Dropout(0.25))  
model.add(Dense(units=8, activation='relu', kernel_initializer='uniform'))
model.add(Dense(units=1, kernel_initializer='uniform'))
model.compile(loss='mean_squared_error', optimizer='Nadam', metrics=['mean_squared_error' ])

In [ ]:
h=model.fit(xtrain, ytrain, validation_split=.2,epochs=100, batch_size=50)

In [ ]:
ypred=model.predict(xtest)

import math
print('mean_squared_error',mean_squared_error(ytest, ypred))
print('root mean_squared_error',math.sqrt(mean_squared_error(ytest, ypred)))
print('mean_absolute_error',mean_absolute_error(ytest, ypred))
print('r2_score',r2_score(ytest, ypred))

ypredPD=pd.DataFrame()
# ypredPD['t']=xtest['S000501_x'].values
ypredPD['t + 1']=ytest.values.ravel()
ypredPD['pred (t +1)']=ypred
ypredPD.head(10)

In [ ]:
history=h
print(history.history.keys())
# summarize history for accuracy
plt.plot(history.history['val_loss'])
plt.plot(history.history['loss'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()
# summarize history for loss
plt.plot(history.history['val_mean_squared_error'])
plt.plot(history.history['mean_squared_error'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
ypredPD['diff']=abs(ypredPD['t + 1']- ypredPD['pred (t +1)'])
print(np.mean(ypredPD['diff']))
print(np.std(ypredPD['diff']))
print(100*ypredPD[ypredPD['diff']<=5].shape[0]/ypredPD.shape[0])

In [ ]:

import matplotlib.patches as mpatches
plt.ylabel('Values')
plt.xlabel('index')
red_patch = mpatches.Patch(color='red', label='Actual data')
blue_patch = mpatches.Patch(color='blue', label='Predicted data')
plt.legend(handles=[red_patch,blue_patch])

ypredPD=ypredPD.sort_values(by=['t + 1'])
plt.scatter(np.arange(0,ypredPD.shape[0],1),ypredPD['pred (t +1)'][:ypredPD.shape[0]])
plt.plot(np.arange(0,ypredPD.shape[0],1),ypredPD['t + 1'][:ypredPD.shape[0]],color='red')
plt.show()

plt.ylabel('p*(t+1), Predicted data')
plt.xlabel('p(t+1), Actual data')
plt.scatter(ypredPD['t + 1'][:ypredPD.shape[0]],ypredPD['pred (t +1)'][:ypredPD.shape[0]])

ypredPD.head(10)

SVR
======

In [ ]:
from sklearn.svm import SVR
# svr_rbf = SVR(kernel='rbf', C=10, gamma=0.02, epsilon=.001)
svr_rbf = SVR(kernel='rbf')

In [ ]:
svr_rbf.fit(xtrain, ytrain)

In [ ]:
ypred=svr_rbf.predict(xtest)

In [ ]:
import math
print('mean_squared_error',mean_squared_error(ytest, ypred))
print('root mean_squared_error',math.sqrt(mean_squared_error(ytest, ypred)))
print('mean_absolute_error',mean_absolute_error(ytest, ypred))
print('r2_score',r2_score(ytest, ypred))

ypredPD=pd.DataFrame()
# ypredPD['t']=xtest['S000501_x'].values
ypredPD['t + 1']=ytest.values.ravel()
ypredPD['pred (t +1)']=ypred
ypredPD.head(10)