In [3]:
import numpy as np
import pandas as pd 
import warnings

warnings.filterwarnings("ignore")
randomseed = 7
np.random.seed(randomseed)

# Read dataset

In [4]:
fulldata= pd.read_csv('../dataset/DATASET_2019-10-24_light.txt')
data=fulldata.copy()
data.head()

,Unnamed: 0,FIELD_1,FIELD_2,COMPARE,AGE,B_DAY,SEX,FIELD_3,FIELD_4,FIELD_5,...,S004424,S005200,S007400,S008501,S008502,S008503,S008504,S010101,S010102,CLASS
0,0,1000003,20130913,100000320130913,46.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,14.0,0
1,1,1000003,20140613,100000320140613,47.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,16.0,0
2,2,1000003,20150917,100000320150917,48.0,670212.0,0.0,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,16.0,0
3,3,1000003,20160617,100000320160617,49.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,0
4,4,1000003,20170608,100000320170608,50.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,0

#Note

data.FIELD_16 == 1 people who are diagnosed for (diabetes)

data.FIELD_23 == 1 people who are on medication for diabetes

data.FIELD_15 == 1 people who are diagnosed for (high blood pressure)

data.FIELD_22 == 1 people who are on medication for high blood pressure

# Probability of being diabetes, HBP and joint probability

# a. Diabetes

In [5]:
#people who are diagnosed for diabetes

data_diagnosedfordiabetes= data[data.FIELD_16 == 1]

print(data.shape)
print(data_diagnosedfordiabetes.shape)

(535169, 407)
(18332, 407)

In [14]:
data_diagnosedfordiabetes.FIELD_1.unique().shape

(11169,)

In [4]:
#people who are on medication for diabetes

data_onmedicationfordiabetes= data[data.FIELD_23 == 1]

print(data.shape)
print(data_onmedicationfordiabetes.shape)

(535169, 407)
(16082, 407)

In [5]:
# people who are diagnosed with diabetes but not on medication
data_diagnosedfordiabetes= data[data.FIELD_16 == 1]

data_diagnosedfordiabetesButnotonmed = data_diagnosedfordiabetes[data_diagnosedfordiabetes.FIELD_23 == 0]

print(data_diagnosedfordiabetesButnotonmed.shape)
print(data_diagnosedfordiabetes.shape)

(2461, 407)
(18332, 407)

In [6]:
# probablity of being diabetic

p_d = data_diagnosedfordiabetes.shape[0]/data.shape[0]
print(p_d)

0.03425459994880122

# b. HBP

In [7]:
#people who diagnosed for (high blood pressure)

data_diagnosedforHBP= data[data.FIELD_15 == 1]

print(data.shape)
print(data_diagnosedforHBP.shape)

(535169, 407)
(48805, 407)

In [8]:
#people who are on medication for high blood pressure

data_onmedicationforHBP= data[data.FIELD_22 == 1]

print(data.shape)
print(data_onmedicationforHBP.shape)

(535169, 407)
(43617, 407)

In [9]:
# people who are diagnosed wih hbp but not on med 

data_diagnosedforHBP= data[data.FIELD_15 == 1]
data_diagnosedforHBPButnotonMeds= data_diagnosedforHBP[data_diagnosedforHBP.FIELD_22 == 0]

print(data_diagnosedforHBPButnotonMeds.shape)
print(data_diagnosedforHBP.shape)

(5882, 407)
(48805, 407)

In [10]:
# probability of bieng hbp
p_hbp= data_diagnosedforHBP.shape[0]/data.shape[0]
print(p_hbp)

0.09119549151763275

# C. JOINT probability

In [11]:
# people who are diagnosed with hbp and diabetes

data_diagnosedfordiabetesandHBP= data[data.FIELD_15 == 1]
data_diagnosedfordiabetesandHBP= data_diagnosedfordiabetesandHBP[data_diagnosedfordiabetesandHBP.FIELD_16 == 1]

print(data.shape)
print(data_diagnosedfordiabetesandHBP.shape)

(535169, 407)
(7936, 407)

In [12]:
# joint probablity 

p_d_hbp = data_diagnosedfordiabetesandHBP.shape[0]/data.shape[0]
print(p_d_hbp)

0.014828960571333542

# d. conditional probability

In [13]:
# p(d/hbp) the prboability of being diabetes given the person is hbp

p_d_g_hbp= p_d_hbp/ p_hbp
print(p_d_g_hbp)

0.16260629033910462

In [14]:
# p(d/hbp) the prboability of being hbp given the person is diabetic

p_hbp_g_d = p_d_hbp/ p_d
print(p_hbp_g_d)

0.4329042112153611