In [1]:
import numpy as np
import pandas as pd 
import warnings

warnings.filterwarnings("ignore")
randomseed = 7

np.random.seed(randomseed)

# Read dataset

In [2]:
x_original = pd.read_csv('../dataset/_XLable_forischemic.txt')
y_original=pd.read_csv('../dataset/_TargetLable_forischemic.txt')

In [3]:
print(x_original.shape)

conditions = [
    (x_original.L100800 < 100),
    (x_original.L100800 >= 100) & (x_original.L100800 < 126),
    (x_original.L100800 >= 126),
]
choices = [0, 1, 2]
x_original["CLASS"] = np.select(conditions, choices, default=0)
x_original=x_original [['Unnamed: 0','L100800','L104600','L103000','S000300','L101700','L100700','FIELD_33',
                       'FIELD_38','FIELD_40','FIELD_31','SEX','AGE',#'CLASS',
                       'FIELD_16','FIELD_23','FIELD_15','FIELD_22','FIELD_17','FIELD_24'
                       ]]

(193659, 409)

In [4]:
print(y_original.shape)
conditions = [
    (y_original.L100800 < 100),
    (y_original.L100800 >= 100) & (y_original.L100800 < 126),
    (y_original.L100800 >= 126),
]

choices = [0, 1, 2]
y_original["CLASS"] = np.select(conditions, choices, default=0)

y_original=y_original[['Unnamed: 0','CLASS' ]]

(193659, 409)

In [5]:
data = pd.merge(
    x_original, y_original, how="inner", left_on="Unnamed: 0", right_on="Unnamed: 0"
)

In [6]:
print(data.shape)
data.head()

(193659, 20)

,Unnamed: 0,L100800,L104600,L103000,S000300,L101700,L100700,FIELD_33,FIELD_38,FIELD_40,FIELD_31,SEX,AGE,FIELD_16,FIELD_23,FIELD_15,FIELD_22,FIELD_17,FIELD_24,CLASS
0,0,77.0,NaN,53.0,20.1,13.0,3.0,1.0,1.0,0.0,1.0,1.0,44.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,1,89.0,NaN,53.0,19.7,14.0,3.0,1.0,1.0,1.0,0.0,1.0,45.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2,78.0,5.28,41.0,20.2,15.0,3.8,1.0,2.0,1.0,0.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,3,98.0,NaN,80.0,24.7,13.0,4.1,1.0,0.0,0.0,0.0,1.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,4,95.0,NaN,58.0,24.8,10.0,3.7,1.0,0.0,0.0,1.0,1.0,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [7]:
fulldata= pd.read_csv('../dataset/DATASET_2019-10-24_light.txt')

In [8]:
data=fulldata.copy()

# probability of being diabetic, HBP

# a. diabetes

In [9]:
#people who are diagnosed for diabetes

data_diagnosedfordiabetes= data[data.FIELD_16 == 1]

print(data.shape)
print(data_diagnosedfordiabetes.shape)

(535169, 407)
(18332, 407)

In [10]:
#people who are on medication for diabetes

data_onmedicationfordiabetes= data[data.FIELD_23 == 1]

print(data.shape)
print(data_onmedicationfordiabetes.shape)

(535169, 407)
(16082, 407)

In [11]:
# people who are diagnosed with diabetes but not on medication
data_diagnosedfordiabetes= data[data.FIELD_16 == 1]

data_diagnosedfordiabetesButnotonmed = data_diagnosedfordiabetes[data_diagnosedfordiabetes.FIELD_23 == 0]

print(data_diagnosedfordiabetesButnotonmed.shape)
print(data_diagnosedfordiabetes.shape)

(2461, 407)
(18332, 407)

In [12]:
# probablity of being diabetic

p_d = data_diagnosedfordiabetes.shape[0]/data.shape[0]
print(p_d)

0.03425459994880122

# b. HBP

In [13]:
#people who diagnosed for (high blood pressure)

data_diagnosedforHBP= data[data.FIELD_15 == 1]

print(data.shape)
print(data_diagnosedforHBP.shape)

(535169, 407)
(48805, 407)

In [14]:
#people who are on medication for high blood pressure

data_onmedicationforHBP= data[data.FIELD_22 == 1]

print(data.shape)
print(data_onmedicationforHBP.shape)

(535169, 407)
(43617, 407)

In [15]:
# people who are diagnosed wih hbp but not on med 

data_diagnosedforHBP= data[data.FIELD_15 == 1]

data_diagnosedforHBPButnotonMeds= data_diagnosedforHBP[data_diagnosedforHBP.FIELD_22 == 0]

print(data_diagnosedforHBPButnotonMeds.shape)
print(data_diagnosedforHBP.shape)

(5882, 407)
(48805, 407)

In [16]:
# probability of bieng hbp
p_hbp= data_diagnosedforHBP.shape[0]/data.shape[0]
print(p_hbp)

0.09119549151763275

# C. JOINT probability

In [17]:
# people who are diagnosed with hbp and diabetes

data_diagnosedfordiabetesandHBP= data[data.FIELD_15 == 1]
data_diagnosedfordiabetesandHBP= data_diagnosedfordiabetesandHBP[data_diagnosedfordiabetesandHBP.FIELD_16 == 1]

print(data.shape)
print(data_diagnosedfordiabetesandHBP.shape)

(535169, 407)
(7936, 407)

In [18]:
# joint probablity 

p_d_hbp = data_diagnosedfordiabetesandHBP.shape[0]/data.shape[0]
print(p_d_hbp)

0.014828960571333542

# d. conditional probability

In [19]:
# p(d/hbp) the prboability of being diabetes given the person is hbp

p_d_g_hbp= p_d_hbp/ p_hbp
print(p_d_g_hbp)

0.16260629033910462

In [20]:
# p(d/hbp) the prboability of being hbp given the person is diabetic

p_hbp_g_d = p_d_hbp/ p_d
print(p_hbp_g_d)

0.4329042112153611

In [23]:
# p_d*p_hbp

In [22]:
# # filter the data set
# data = data[data.FIELD_16 != 1]  # exclude people who are diagnosed for (diabetes)
# data = data[data.FIELD_23 != 1]  # exclude people who are on medication for diabetes

# data = data[
#     data.FIELD_15 != 1
# ]  # exclude people who are diagnosed for (high blood pressure)
# data = data[
#     data.FIELD_22 != 1
# ]  # exclude people who are on medication for high blood pressure

# data = data[data.FIELD_17 != 1]  # exclude people who are diagnosed for hyperlipidemia
# data = data[
#     data.FIELD_24 != 1
# ]  # exclude people who are on medication for hyperlipidemia


# print(data.shape)