In [2]:
import numpy as np
import pandas as pd 
import warnings

warnings.filterwarnings("ignore")
randomseed = 7

np.random.seed(randomseed)

# Read dataset

In [5]:
data= pd.read_csv('../dataset/DATASET_2019-10-24_light.txt')

#Note

data.FIELD_16 == 1 people who are diagnosed for (diabetes)

data.FIELD_23 == 1 people who are on medication for diabetes

data.FIELD_15 == 1 people who are diagnosed for (high blood pressure)

data.FIELD_22 == 1 people who are on medication for high blood pressure

In [9]:
conditions = [
    (data.L100800 < 100),
    (data.L100800 >= 100) & (data.L100800 < 126),
    (data.L100800 >= 126),
]

choices = [0, 1, 2]
data["CLASS"] = np.select(conditions, choices, default=0)

In [10]:
_hbpstatus = []
for i in range(data.shape[0]):
    if (data.S000501[i] >= 140) | (data.S000502[i] >= 90):
        _hbpstatus.append(2)
    elif (data.S000501[i] < 120) & (data.S000502[i] < 80):
        _hbpstatus.append(0)
    else:
        _hbpstatus.append(1)
data["hbpstatus"] = _hbpstatus

In [12]:
data.head()

,Unnamed: 0,FIELD_1,FIELD_2,COMPARE,AGE,B_DAY,SEX,FIELD_3,FIELD_4,FIELD_5,...,S005200,S007400,S008501,S008502,S008503,S008504,S010101,S010102,CLASS,hbpstatus
0,0,1000003,20130913,100000320130913,46.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,14.0,1,1
1,1,1000003,20140613,100000320140613,47.0,670212.0,0.0,NaN,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,16.0,1,1
2,2,1000003,20150917,100000320150917,48.0,670212.0,0.0,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,16.0,1,1
3,3,1000003,20160617,100000320160617,49.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,1,2
4,4,1000003,20170608,100000320170608,50.0,670212.0,0.0,NaN,4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16.0,18.0,1,2

In [13]:
data.shape[0]

535169

In [22]:
HBP=data[data.hbpstatus==2].shape[0]

In [21]:
D=data[data.CLASS==2].shape[0]

In [23]:
DHBP=data[data.hbpstatus==2][data.CLASS==2].shape[0]

In [20]:
data[data.CLASS==2][data.hbpstatus==2].shape[0]

2700

In [26]:
pd=D/data.shape[0]

In [27]:
phbp=HBP/data.shape[0]

In [29]:
pdhbp=DHBP/data.shape[0]

In [30]:
pdhbp/pd

0.1285285857095254

In [31]:
pdhbp/phbp

0.10636621493854397

In [34]:
D=data[data.CLASS==2]

In [36]:
D[D.FIELD_16==1].shape

(10780, 408)

In [37]:
D[D.FIELD_23==1].shape

(9643, 408)

In [40]:
HBP=data[data.hbpstatus==2]
print(HBP.shape)

(25384, 408)

In [41]:
D[D.FIELD_15==1].shape

(6685, 408)

In [42]:
D[D.FIELD_22==1].shape

(6219, 408)

# Probability of being diabetes, HBP and joint probability

# a. Diabetes

In [3]:
#people who are diagnosed for diabetes

data_diagnosedfordiabetes= data[data.FIELD_16 == 1]

print(data.shape)
print(data_diagnosedfordiabetes.shape)

(535169, 407)
(18332, 407)

In [4]:
#people who are on medication for diabetes

data_onmedicationfordiabetes= data[data.FIELD_23 == 1]

print(data.shape)
print(data_onmedicationfordiabetes.shape)

(535169, 407)
(16082, 407)

In [5]:
# people who are diagnosed with diabetes but not on medication
data_diagnosedfordiabetes= data[data.FIELD_16 == 1]

data_diagnosedfordiabetesButnotonmed = data_diagnosedfordiabetes[data_diagnosedfordiabetes.FIELD_23 == 0]

print(data_diagnosedfordiabetesButnotonmed.shape)
print(data_diagnosedfordiabetes.shape)

(2461, 407)
(18332, 407)

In [6]:
# probablity of being diabetic

p_d = data_diagnosedfordiabetes.shape[0]/data.shape[0]
print(p_d)

0.03425459994880122

# b. HBP

In [7]:
#people who diagnosed for (high blood pressure)

data_diagnosedforHBP= data[data.FIELD_15 == 1]

print(data.shape)
print(data_diagnosedforHBP.shape)

(535169, 407)
(48805, 407)

In [8]:
#people who are on medication for high blood pressure

data_onmedicationforHBP= data[data.FIELD_22 == 1]

print(data.shape)
print(data_onmedicationforHBP.shape)

(535169, 407)
(43617, 407)

In [9]:
# people who are diagnosed wih hbp but not on med 

data_diagnosedforHBP= data[data.FIELD_15 == 1]
data_diagnosedforHBPButnotonMeds= data_diagnosedforHBP[data_diagnosedforHBP.FIELD_22 == 0]

print(data_diagnosedforHBPButnotonMeds.shape)
print(data_diagnosedforHBP.shape)

(5882, 407)
(48805, 407)

In [10]:
# probability of bieng hbp
p_hbp= data_diagnosedforHBP.shape[0]/data.shape[0]
print(p_hbp)

0.09119549151763275

# C. JOINT probability

In [11]:
# people who are diagnosed with hbp and diabetes

data_diagnosedfordiabetesandHBP= data[data.FIELD_15 == 1]
data_diagnosedfordiabetesandHBP= data_diagnosedfordiabetesandHBP[data_diagnosedfordiabetesandHBP.FIELD_16 == 1]

print(data.shape)
print(data_diagnosedfordiabetesandHBP.shape)

(535169, 407)
(7936, 407)

In [12]:
# joint probablity 

p_d_hbp = data_diagnosedfordiabetesandHBP.shape[0]/data.shape[0]
print(p_d_hbp)

0.014828960571333542

# d. conditional probability

In [13]:
# p(d/hbp) the prboability of being diabetes given the person is hbp

p_d_g_hbp= p_d_hbp/ p_hbp
print(p_d_g_hbp)

0.16260629033910462

In [14]:
# p(d/hbp) the prboability of being hbp given the person is diabetic

p_hbp_g_d = p_d_hbp/ p_d
print(p_hbp_g_d)

0.4329042112153611