In [16]:
# %load_ext nb_black

import pandas as pd
import numpy as np
import warnings
from matplotlib import pyplot as plt
from sklearn import metrics as m
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE  # doctest: +NORMALIZE_WHITESPACE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from collections import Counter

warnings.filterwarnings("ignore")
randomseed = 7

In [17]:
data1 = pd.read_csv("NextYearData_actualData_train.txt")
data2 = pd.read_csv("ThisYearData_actualData_train.txt")
data3 = pd.read_csv("ThisYearData_actualData_test.txt")

data4 = pd.read_csv("NextYearData_actualData_test.txt")

data5 = pd.read_csv("Predicted_NextYearData.txt")

data = pd.concat([data1, data2, data3])

print(data.shape)
data.head()

(37065, 21)

,Unnamed: 0,FIELD_1,FIELD_2,L190500,L190300,L101300,L100700,S000300,L101700,L100800,...,L103100,FIELD_33,FIELD_38,FIELD_40,SEX,AGE,L102900,L103200,L103000,CLASS
0,0,674978,20160716,41.2,4.62,11.0,4.1,22.2,20.0,93.0,...,62.0,1.0,1.0,0.0,1.0,39.0,169.0,88.0,96.0,0
1,1,2796877,20151211,41.1,4.54,15.0,5.9,23.9,16.0,92.0,...,38.0,1.0,1.0,1.0,0.0,40.0,204.0,149.0,85.0,1
2,2,430189,20160713,38.3,4.31,12.0,3.3,23.1,12.0,84.0,...,57.0,1.0,1.0,0.0,1.0,34.0,166.0,96.0,64.0,0
3,3,988885,20150429,44.0,4.93,10.0,5.4,24.4,21.0,93.0,...,34.0,2.0,2.0,2.0,0.0,48.0,181.0,101.0,229.0,1
4,4,342048,20161026,39.3,4.10,14.0,3.9,17.7,28.0,91.0,...,64.0,3.0,0.0,1.0,1.0,32.0,212.0,129.0,94.0,1

In [18]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data.iloc[:,:-1]=scaler.fit_transform(data.iloc[:,:-1])

In [21]:
data.columns

Index(['Unnamed: 0', 'FIELD_1', 'FIELD_2', 'L190500', 'L190300', 'L101300',
       'L100700', 'S000300', 'L101700', 'L100800', 'L103300', 'L103100',
       'FIELD_33', 'FIELD_38', 'FIELD_40', 'SEX', 'AGE', 'L102900', 'L103200',
       'L103000', 'CLASS'],
      dtype='object')

In [24]:
tempcols=['L190500', 'L190300', 'L101300','L100700', 'S000300', 'L101700', 'L100800','L103300', 'L103100',
          'FIELD_33', 'FIELD_38', 'FIELD_40','SEX', 'AGE', #'L102900', 'L103200','L103000',          
        'CLASS']

In [25]:
data=data[['L190500', 'L190300', 'L101300','L100700', 'S000300', 'L101700', 'L100800','L103300', 'L103100',
          'FIELD_33', 'FIELD_38', 'FIELD_40','SEX', 'AGE',  'CLASS']]
xtrain, xtest, ytrain, ytest = train_test_split(data.iloc[:,:-1], data.iloc[:,-1], random_state=42, test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(
    random_state=randomseed,
    n_estimators=1000,
    max_depth=10,
    min_samples_split=2,
    min_samples_leaf=10,
    max_features=8,
)
rf.fit(xtrain, ytrain)

In [ ]:
ypred = rf.predict(xtest)

score = rf.score(xtest, ytest)
print(score)

feat_importances = pd.Series(rf.feature_importances_, index=xtest.columns)
feat_importances.nlargest(16).plot(kind="barh")
plt.show()

print(feat_importances.nlargest(16).index)

In [ ]:
print("Accuracy on training set: {:.3f}".format(rf.score(xtrain, ytrain)))
print("Accuracy on test set: {:.3f}".format(rf.score(xtest, ytest)))

confmatrx = pd.DataFrame(m.confusion_matrix(ytest, ypred))
confmatrx.head()

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(ytest, ypred))

In [ ]:
# import xgboost as xgb
# from sklearn import metrics as m

# xgb_model = xgb.XGBClassifier(objective="binary:logistic", random_state=randomseed)

# xgb_model.fit(xtrain, ytrain)

# y_pred = xgb_model.predict((xtest))

# print("accuracy \t", m.accuracy_score(ytest, y_pred))
# confmatrx = pd.DataFrame(m.confusion_matrix(ytest, y_pred))
# confmatrx.head()

In [ ]:
# print(classification_report(ytest, y_pred))

In [13]:
# data4=data4[['L190500','L190300','L101300','L100700','S000300','L101700','L100800','L103300','L103100',
#              'FIELD_33','FIELD_38','FIELD_40','SEX','AGE','CLASS']]

data4=data4[['L190500', 'L190300', 'L101300','L100700', 'S000300', 'L101700', 'L100800','L103300', 'L103100',
          'FIELD_33', 'FIELD_38', 'FIELD_40','SEX', 'AGE',  'CLASS']]
data.shape

(37065, 15)

In [14]:
scaler.transform(data4.iloc[:, :-1]).shape

ValueError: operands could not be broadcast together with shapes (6541,14) (20,) (6541,14)

In [ ]:
data4=data4[['L190500','L190300','L101300','L100700','S000300','L101700','L100800','L103300','L103100',
             'FIELD_33','FIELD_38','FIELD_40','SEX','AGE','CLASS']]

data4.iloc[:, :-1]=scaler.transform(data4.iloc[:, :-1])
pred4 = rf.predict((data4.iloc[:, :-1]))

print(m.accuracy_score(data4.iloc[:, -1], pred4))

confmatrx = pd.DataFrame(m.confusion_matrix(data4.iloc[:, -1], pred4))
confmatrx

In [ ]:
print(classification_report(data4.iloc[:, -1], pred4))

In [ ]:
# =====================================
# =====================================
# =====================================
# =====================================

data5=data5[['P_L190500','P_L190300','P_L101300','P_L100700','P_S000300','P_L101700','P_L100800','P_L103300','P_L103100','P_FIELD_33','P_FIELD_38',
             'P_FIELD_40','P_SEX','P_AGE','CLASS']]


data5.iloc[:, :-1]=scaler.transform(data5.iloc[:, :-1])

pred5 = rf.predict((data5.iloc[:, :-1]))



print(m.accuracy_score(data5.iloc[:, -1], pred5))

confmatrx = pd.DataFrame(m.confusion_matrix(data5.iloc[:, -1], pred5))
confmatrx

In [ ]:
print(classification_report(data5.iloc[:, -1], pred5))

In [ ]:
# ========================================================

In [ ]:
import pickle

with open('HyperlipidemiaModelClassifierModelForNextYear_rf_model', 'wb') as f:
    pickle.dump(rf, f)

In [ ]:
with open('HyperlipidemiaClassifierModelForNextYear_scaler_SMOTE', 'wb') as f:
    pickle.dump(scaler, f)

In [ ]:
# print(xtrain.shape)

In [ ]:
# print(xtest.shape)

In [ ]:
# data5.shape

In [ ]:
# data.to_csv('_train.txt',sep=',')

In [ ]:
# data4.to_csv('_test.txt',sep=',')

In [ ]:
# data5.to_csv('_PredictedNextYearTest.txt',sep=',')

In [ ]:
# data4.head()