In [1]:
# %load_ext nb_black
import numpy as np
import pandas as pd
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics as m
import xgboost as xgb
import seaborn as sns

warnings.filterwarnings("ignore")
random_seed = 8

In [2]:
temp=['L100700', 'SEX', 'S000300', 'L103000', 'L103100', 'L103300',
       'S000501', 'S000100', 'L101300', 'L190300', 'L100500', 'L101700',
      
      'S000300', 'SEX', 'L103300', 'S000501', 
                       'L103100', 'L101300', 'S000502', 'L190300', 'L190400', 'L100700', 'L103000', 'L100800'
      
      'L101700', 'SEX', 'L101300', 'FIELD_38', 'S000300', 'L101200', 
                       'L100700', 'L190400', 'L103000', 'L103300', 'L190300', 'L100800',
      
      'L100800', 'L104600', 'SEX', 'AGE', 'L101300', 'S000300', 
                       'L103000', 'L103300', 'S000501', 'S000502', 'L101700', 'FIELD_38',
      
      'L103300', 'L103100', 'L103000', 'L103200', 'S000300', 'L102900', 'SEX', 
                       'L100700', 'L190300', 'L190400', 'L190500', 'L100500',
      
      'L102900', 'L103000', 'L103200' 
     
     ]

In [48]:
# collected form each main diabetic indicator features regressors
cols = np.unique(
    [
        'L100700', 'SEX', 'S000300', 'L103000', 'L103100', 'L103300',
       'S000501', 'S000100', 'L101300', 'L190300', 'L100500', 'L101700',
      
      'S000300', 'SEX', 'L103300', 'S000501', 
                       'L103100', 'L101300', 'S000502', 'L190300', 'L190400', 'L100700', 'L103000', 'L100800',
      
      'L101700', 'SEX', 'L101300', 'FIELD_38', 'S000300', 'L101200', 
                       'L100700', 'L190400', 'L103000', 'L103300', 'L190300', 'L100800',
      
      'L100800', 'L104600', 'SEX', 'AGE', 'L101300', 'S000300', 
                       'L103000', 'L103300', 'S000501', 'S000502', 'L101700', 'FIELD_38',
        
        'L103300', 'L103100', 'L103000', 'L103200', 'S000300', 'L102900', 'SEX', 
                       'L100700', 'L190300', 'L190400', 'L190500', 'L100500'
        
        'FIELD_16','FIELD_23','FIELD_15','FIELD_22','FIELD_17','FIELD_24','FIELD_33','FIELD_40','FIELD_1','FIELD_2',
        
        'L102900', 'L103000', 'L103200' 
    ]
)

print(cols)

['AGE' 'FIELD_1' 'FIELD_15' 'FIELD_17' 'FIELD_2' 'FIELD_22' 'FIELD_23'
 'FIELD_24' 'FIELD_33' 'FIELD_38' 'FIELD_40' 'L100500' 'L100500FIELD_16'
 'L100700' 'L100800' 'L101200' 'L101300' 'L101700' 'L102900' 'L103000'
 'L103100' 'L103200' 'L103300' 'L104600' 'L190300' 'L190400' 'L190500'
 'S000100' 'S000300' 'S000501' 'S000502' 'SEX']

Read Dataset
====

In [26]:
x_original=pd.read_csv('../../_xlable4_withNa_AllColumns.txt')
y_original=pd.read_csv('../../_targelable4_withNa_AllColumns.txt')

data = pd.merge(
    x_original, y_original, how="inner", left_on="Unnamed: 0", right_on="Unnamed: 0"
)

Prepare dataset
===

In [28]:
# filter the data set
data = data[data.FIELD_16_x != 1]  # exclude people who are diagnosed for (diabetes)
data = data[data.FIELD_23_x != 1]  # exclude people who are on medication for diabetes

data = data[
    data.FIELD_15_x != 1
]  # exclude people who are diagnosed for (high blood pressure)
data = data[
    data.FIELD_22_x != 1
]  # exclude people who are on medication for high blood pressure

data = data[data.FIELD_17_x != 1]  # exclude people who are diagnosed for hyperlipidemia
data = data[
    data.FIELD_24_x != 1
]  # exclude people who are on medication for hyperlipidemia


data = data[['AGE_x' ,'FIELD_38_x', 'L100500_x' ,'L100700_x', 'L100800_x' ,'L101200_x' ,'L101300_x',
 'L101700_x', 'L103000_x', 'L103100_x' ,'L103300_x', 'L104600_x', 'L190300_x' ,'L190400_x',
 'S000100_x', 'S000300_x' ,'S000501_x', 'S000502_x' ,'SEX_x','L102900_x', 'L190500_x', 'L103200_x',
 'FIELD_33_x','FIELD_40_x','FIELD_1_x','FIELD_2_x','L102900_x', 'L103000_x', 'L103200_x' ,
             
  'AGE_y' ,'FIELD_38_y' ,'L100500_y', 'L100700_y' ,'L100800_y' ,'L101200_y' ,'L101300_y',
 'L101700_y', 'L103000_y' ,'L103100_y' ,'L103300_y' ,'L104600_y', 'L190300_y' ,'L190400_y',
 'S000100_y' ,'S000300_y' ,'S000501_y' ,'S000502_y' ,'SEX_y','L102900_y', 'L190500_y', 'L103200_y',
 'FIELD_33_y','FIELD_40_y','FIELD_1_y','FIELD_2_y', 'L102900_y', 'L103000_y', 'L103200_y' 
 ]].dropna()
print(data.shape)

(39030, 52)

In [70]:
x = data[
    [
        'AGE_x' ,'FIELD_38_x', 'L100500_x' ,'L100700_x', 'L100800_x' ,'L101200_x' ,'L101300_x',
 'L101700_x', 'L103000_x', 'L103100_x' ,'L103300_x', 'L104600_x', 'L190300_x' ,'L190400_x',
 'S000100_x', 'S000300_x' ,'S000501_x', 'S000502_x' ,'SEX_x','L102900_x', 'L190500_x', 'L103200_x',
        'FIELD_33_x','FIELD_40_x','FIELD_1_x','FIELD_2_x',
#         'L102900_x', 
#         'L103000_x', 
#         'L103200_x' 
    ]
]

y = data[
    [        'AGE_y' ,'FIELD_38_y' ,'L100500_y', 'L100700_y' ,'L100800_y' ,'L101200_y' ,'L101300_y',
 'L101700_y', 'L103000_y' ,'L103100_y' ,'L103300_y' ,'L104600_y', 'L190300_y' ,'L190400_y',
 'S000100_y' ,'S000300_y' ,'S000501_y' ,'S000502_y' ,'SEX_y','L102900_y', 'L190500_y', 'L103200_y',
     'FIELD_33_y','FIELD_40_y','FIELD_1_y','FIELD_2_y',  
#      'L102900_y', 
#      'L103000_y', 
#      'L103200_y' 
    ]
]

In [71]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, random_state=42, test_size=0.3)

Train Regression Models
==========

L100700_x # Uric Acid
====

In [72]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=500, max_features=4
)
regr.fit(
    xtrain[
        [
            'L100700_x', 'SEX_x', 'S000300_x', 'L103000_x', 'L103100_x', 'L103300_x',
       'S000501_x', 'S000100_x', 'L101300_x', 'L190300_x', 'L100500_x', 'L101700_x'
        ]
    ],
    ytrain[["L100700_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'L100700_x', 'SEX_x', 'S000300_x', 'L103000_x', 'L103100_x', 'L103300_x',
       'S000501_x', 'S000100_x', 'L101300_x', 'L190300_x', 'L100500_x', 'L101700_x'
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L100700_y"]], ypred))

r2_score 0.7477076322601623

In [73]:
pred_L100700 = ypred
pred_L100700.shape

(11709,)

S000300 #BMI
===

In [74]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=500, max_features=4
)
regr.fit(
    xtrain[
        [            
      'S000300_x', 'SEX_x', 'L103300_x', 'S000501_x','L103100_x', 'L101300_x', 'S000502_x', 
            'L190300_x', 'L190400_x', 'L100700_x', 'L103000_x', 'L100800_x',
        ]
    ],
    ytrain[["S000300_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'S000300_x', 'SEX_x', 'L103300_x', 'S000501_x','L103100_x', 'L101300_x', 'S000502_x', 
            'L190300_x', 'L190400_x', 'L100700_x', 'L103000_x', 'L100800_x',
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["S000300_y"]], ypred))

r2_score 0.9004909313156023

In [75]:
pred_S000300 = ypred

L101700 # r-GTP gamma
===

In [76]:
regr = RandomForestRegressor(
    max_depth=4, random_state=random_seed, verbose=0, n_estimators=1000
)
regr.fit(
    xtrain[
        ['L101700_x', 'SEX_x', 'L101300_x', 'FIELD_38_x', 'S000300_x', 'L101200_x', 
        'L100700_x', 'L190400_x', 'L103000_x', 'L103300_x', 'L190300_x', 'L100800_x',
        ]
    ],
    ytrain[["L101700_y"]],
)

ypred = regr.predict(
    xtest[
        ['L101700_x', 'SEX_x', 'L101300_x', 'FIELD_38_x', 'S000300_x', 'L101200_x', 
        'L100700_x', 'L190400_x', 'L103000_x', 'L103300_x', 'L190300_x', 'L100800_x',
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L101700_y"]], ypred))

r2_score 0.695967356810201

In [77]:
pred_L101700 = ypred

L100800 # fasting glucose level
====

In [78]:
regr = RandomForestRegressor(
    max_depth=5, random_state=random_seed, verbose=0, n_estimators=1000, max_features=4
)
regr.fit(
    xtrain[
        [
           'L100800_x', 'L104600_x', 'SEX_x', 'AGE_x', 'L101300_x', 'S000300_x', 
                       'L103000_x', 'L103300_x', 'S000501_x', 'S000502_x', 'L101700_x', 'FIELD_38_x',
        ]
    ],
    ytrain[["L100800_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'L100800_x', 'L104600_x', 'SEX_x', 'AGE_x', 'L101300_x', 'S000300_x', 
                       'L103000_x', 'L103300_x', 'S000501_x', 'S000502_x', 'L101700_x', 'FIELD_38_x',
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L100800_y"]], ypred))

r2_score 0.5082072974432917

In [79]:
pred_L100800 = ypred

L1033 # Cardiac risk factor
=======

In [80]:
regr = RandomForestRegressor(
    max_depth=8, random_state=random_seed, verbose=0, n_estimators=1000, max_features=7
)
regr.fit(
    xtrain[
        [
           'L103300_x', 'L103100_x', 'L103000_x', 'L103200_x', 'S000300_x', 'L102900_x', 'SEX_x', 
                       'L100700_x', 'L190300_x', 'L190400_x', 'L190500_x', 'L100500_x'
        ]
    ],
    ytrain[["L103300_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'L103300_x', 'L103100_x', 'L103000_x', 'L103200_x', 'S000300_x', 'L102900_x', 'SEX_x', 
                       'L100700_x', 'L190300_x', 'L190400_x', 'L190500_x', 'L100500_x'
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L103300_y"]], ypred))

r2_score 0.7021777444406085

In [81]:
pred_L103300 = ypred

Categorical values
=====

In [82]:
pred_FIELD_33 = ytest.FIELD_33_y

In [83]:
pred_FIELD_38 = ytest.FIELD_38_y

In [84]:
pred_FIELD_40 = ytest.FIELD_40_y

In [85]:
pred_SEX = ytest.SEX_y

In [86]:
pred_AGE = ytest.AGE_y + 1

In [89]:
ytest.L102900_y.values

array([217., 156., 162., ..., 166., 222., 253.])

Combine the predicted values to make dataframe
====

In [94]:
NextYearData = pd.DataFrame()
NextYearData["P_FIELD_1"] = ytest.FIELD_1_y.values
NextYearData["P_FIELD_2"] = ytest.FIELD_2_y.values
NextYearData["P_L100700"] = pred_L100700
NextYearData["P_S000300"] = pred_S000300
NextYearData["P_L101700"] = pred_L101700
NextYearData["P_L100800"] = pred_L100800
NextYearData["P_L103300"] = pred_L103300
NextYearData["P_FIELD_33"] = pred_FIELD_33.values
NextYearData["P_FIELD_38"] = pred_FIELD_38.values
NextYearData["P_FIELD_40"] = pred_FIELD_40.values
NextYearData["P_SEX"] = pred_SEX.values
NextYearData["P_AGE"] = pred_AGE.values

NextYearData["A_L102900"] = ytest.L102900_y.values
NextYearData["A_L103200"] = ytest.L103200_y.values
NextYearData["A_L103000"] = ytest.L103000_y.values
NextYearData["A_L103300"] = ytest.L103300_y.values

_class = []
for i in range(NextYearData.shape[0]):
    if((NextYearData.A_L102900[i] <= 200) & (NextYearData.A_L103200[i] <= 130) & (NextYearData.A_L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
NextYearData["CLASS"] = _class

NextYearData.head()

,P_FIELD_1,P_FIELD_2,P_L100700,P_S000300,P_L101700,P_L100800,P_L103300,P_FIELD_33,P_FIELD_38,P_FIELD_40,P_SEX,P_AGE,A_L102900,A_L103200,A_L103000,A_L103300,CLASS
0,430817,20170828,5.382595,26.685450,42.835734,94.943444,3.729447,1.0,1.0,0.0,0.0,36.0,217.0,152.0,59.0,4.1,1
1,349012,20140804,6.188930,20.612305,18.436570,90.896418,2.859279,1.0,2.0,6.0,0.0,31.0,156.0,92.0,52.0,2.9,0
2,186912,20161114,7.371954,24.329709,22.845141,96.516122,3.405242,1.0,2.0,2.0,0.0,30.0,162.0,98.0,99.0,3.7,0
3,657603,20150819,6.040962,23.142083,28.747196,92.942380,3.092095,1.0,0.0,0.0,0.0,39.0,171.0,100.0,76.0,3.1,0
4,958053,20140620,4.847240,21.209042,48.110911,99.053449,2.615316,2.0,2.0,3.0,0.0,47.0,216.0,103.0,176.0,2.8,1

In [93]:
NextYearData.to_csv("Predicted_NextYearData.txt", sep=",")

==============================================
==========

In [96]:
# select the actual next year values

NextYearData_actualData = pd.DataFrame()
NextYearData_actualData["FIELD_1"] = ytest.FIELD_1_y.values
NextYearData_actualData["FIELD_2"] = ytest.FIELD_2_y.values
NextYearData_actualData["L100700"] = ytest.L100700_y.values
NextYearData_actualData["S000300"] = ytest.S000300_y.values
NextYearData_actualData["L101700"] = ytest.L101700_y.values
NextYearData_actualData["L100800"] = ytest.L100800_y.values
NextYearData_actualData["L103300"] = ytest.L103300_y.values 
NextYearData_actualData["FIELD_33"] = ytest.FIELD_33_y.values
NextYearData_actualData["FIELD_38"] = ytest.FIELD_38_y.values
NextYearData_actualData["FIELD_40"] = ytest.FIELD_40_y.values
NextYearData_actualData["SEX"] = ytest.SEX_y.values
NextYearData_actualData["AGE"] = ytest.AGE_y.values

NextYearData_actualData["L102900"] = ytest.L102900_y.values
NextYearData_actualData["L103200"] = ytest.L103200_y.values
NextYearData_actualData["L103000"] = ytest.L103000_y.values
NextYearData_actualData["L103300"] = ytest.L103300_y.values

_class = []
for i in range(NextYearData_actualData.shape[0]):
    if((NextYearData_actualData.L102900[i] <= 200) & 
       (NextYearData_actualData.L103200[i] <= 130) & 
       (NextYearData_actualData.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
NextYearData_actualData["CLASS"] = _class
 

NextYearData_actualData.to_csv("NextYearData_actualData.txt", sep=",")

==========================================================
===

In [98]:
# select the actual this year values

ThisYearData_actualData = pd.DataFrame()
ThisYearData_actualData["FIELD_1"] = xtest.FIELD_1_x.values
ThisYearData_actualData["FIELD_2"] = xtest.FIELD_2_x.values
ThisYearData_actualData["L100700"] = xtest.L100700_x.values
ThisYearData_actualData["S000300"] = xtest.S000300_x.values
ThisYearData_actualData["L101700"] = xtest.L101700_x.values
ThisYearData_actualData["L100800"] = xtest.L100800_x.values
ThisYearData_actualData["L103300"] = xtest.L103300_x.values
ThisYearData_actualData["FIELD_33"] = xtest.FIELD_33_x.values
ThisYearData_actualData["FIELD_38"] = xtest.FIELD_38_x.values
ThisYearData_actualData["FIELD_40"] = xtest.FIELD_40_x.values
ThisYearData_actualData["SEX"] = xtest.SEX_x.values
ThisYearData_actualData["AGE"] = xtest.AGE_x.values 


ThisYearData_actualData["L102900"] = xtest.L102900_x.values
ThisYearData_actualData["L103200"] = xtest.L103200_x.values
ThisYearData_actualData["L103000"] = xtest.L103000_x.values
ThisYearData_actualData["L103300"] = xtest.L103300_x.values

_class = []
for i in range(ThisYearData_actualData.shape[0]):
    if((ThisYearData_actualData.L102900[i] <= 200) & 
       (ThisYearData_actualData.L103200[i] <= 130) & 
       (ThisYearData_actualData.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
ThisYearData_actualData["CLASS"] = _class

ThisYearData_actualData.to_csv("ThisYearData_actualData.txt", sep=",")

============================================
=========

In [99]:
# select the actual next year values train

NextYearData_actualData_train = pd.DataFrame()
NextYearData_actualData_train["FIELD_1"] = ytrain.FIELD_1_y.values
NextYearData_actualData_train["FIELD_2"] = ytrain.FIELD_2_y.values
NextYearData_actualData_train["L100700"] = ytrain.L100700_y.values
NextYearData_actualData_train["S000300"] = ytrain.S000300_y.values
NextYearData_actualData_train["L101700"] = ytrain.L101700_y.values
NextYearData_actualData_train["L100800"] = ytrain.L100800_y.values
NextYearData_actualData_train["L103300"] = ytrain.L103300_y.values 
NextYearData_actualData_train["FIELD_33"] = ytrain.FIELD_33_y.values
NextYearData_actualData_train["FIELD_38"] = ytrain.FIELD_38_y.values
NextYearData_actualData_train["FIELD_40"] = ytrain.FIELD_40_y.values
NextYearData_actualData_train["SEX"] = ytrain.SEX_y.values
NextYearData_actualData_train["AGE"] = ytrain.AGE_y.values


NextYearData_actualData_train["L102900"] = ytrain.L102900_y.values
NextYearData_actualData_train["L103200"] = ytrain.L103200_y.values
NextYearData_actualData_train["L103000"] = ytrain.L103000_y.values
NextYearData_actualData_train["L103300"] = ytrain.L103300_y.values

_class = []
for i in range(NextYearData_actualData_train.shape[0]):
    if((NextYearData_actualData_train.L102900[i] <= 200) & 
       (NextYearData_actualData_train.L103200[i] <= 130) & 
       (NextYearData_actualData_train.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
NextYearData_actualData_train["CLASS"] = _class 

NextYearData_actualData_train.to_csv("NextYearData_actualData_train.txt", sep=",")

=================================================
==============

In [100]:
# select the actual this year values train

ThisYearData_actualData_train = pd.DataFrame()
ThisYearData_actualData_train["FIELD_1"] = xtrain.FIELD_1_x.values
ThisYearData_actualData_train["FIELD_2"] = xtrain.FIELD_2_x.values
ThisYearData_actualData_train["L100700"] = xtrain.L100700_x.values
ThisYearData_actualData_train["S000300"] = xtrain.S000300_x.values
ThisYearData_actualData_train["L101700"] = xtrain.L101700_x.values
ThisYearData_actualData_train["L100800"] = xtrain.L100800_x.values
ThisYearData_actualData_train["L103300"] = xtrain.L103300_x.values
ThisYearData_actualData_train["FIELD_33"] = xtrain.FIELD_33_x.values
ThisYearData_actualData_train["FIELD_38"] = xtrain.FIELD_38_x.values
ThisYearData_actualData_train["FIELD_40"] = xtrain.FIELD_40_x.values
ThisYearData_actualData_train["SEX"] = xtrain.SEX_x.values
ThisYearData_actualData_train["AGE"] = xtrain.AGE_x.values


ThisYearData_actualData_train["L102900"] = ytrain.L102900_y.values
ThisYearData_actualData_train["L103200"] = ytrain.L103200_y.values
ThisYearData_actualData_train["L103000"] = ytrain.L103000_y.values
ThisYearData_actualData_train["L103300"] = ytrain.L103300_y.values

_class = []
for i in range(ThisYearData_actualData_train.shape[0]):
    if((ThisYearData_actualData_train.L102900[i] <= 200) & 
       (ThisYearData_actualData_train.L103200[i] <= 130) & 
       (ThisYearData_actualData_train.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
ThisYearData_actualData_train["CLASS"] = _class 



ThisYearData_actualData_train.to_csv("ThisYearData_actualData_train.txt", sep=",")