In [1]:
# %load_ext nb_black
import numpy as np
import pandas as pd
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics as m
import xgboost as xgb
import seaborn as sns
warnings.filterwarnings("ignore")
random_seed = 8

In [2]:
temp=['L100700', 'SEX', 'S000300', 'L103000', 'L103100', 'L103300',
       'S000501', 'S000100', 'L101300', 'L190300', 'L100500', 'L101700',
      
      'S000300', 'SEX', 'L103300', 'S000501', 
                       'L103100', 'L101300', 'S000502', 'L190300', 'L190400', 'L100700', 'L103000', 'L100800'
      
      'L101700', 'SEX', 'L101300', 'FIELD_38', 'S000300', 'L101200', 
                       'L100700', 'L190400', 'L103000', 'L103300', 'L190300', 'L100800',
      
      'L100800', 'L104600', 'SEX', 'AGE', 'L101300', 'S000300', 
                       'L103000', 'L103300', 'S000501', 'S000502', 'L101700', 'FIELD_38',
      
      'L103300', 'L103100', 'L103000', 'L103200', 'S000300', 'L102900', 'SEX', 
                       'L100700', 'L190300', 'L190400', 'L190500', 'L100500',
      
      'L103100', 'L103300', 'SEX', 'S000300', 'L103000', 'L190300', 
        'L100700', 'L190400', 'L190500', 'L100500', 'S000100', 'L101300',
      
      'L102900', 'L103000', 'L103200','L104600', 'L100700',
       'S000501', 'S000300', 'L103300', 'L100800', 'L101700', 'AGE','FIELD_4',
      
      'L103200', 'L102900', 'L103100', 'L100700', 'S000501',
       'L190300', 'L104600', 'S000300', 'L103300', 'AGE', 'FIELD_41','FIELD_4',
      
      
      'L102900', 'L103000', 'L103200' 
     
     ]

In [3]:
# collected form each main diabetic indicator features regressors
cols = np.unique(
    [
        'L100700', 'SEX', 'S000300', 'L103000', 'L103100', 'L103300',  
       'S000501', 'S000100', 'L101300', 'L190300', 'L100500', 'L101700',
      
      'S000300', 'SEX', 'L103300', 'S000501',  
                       'L103100', 'L101300', 'S000502', 'L190300', 'L190400', 'L100700', 'L103000', 'L100800',
      
      'L101700', 'SEX', 'L101300', 'FIELD_38', 'S000300', 'L101200', 
                       'L100700', 'L190400', 'L103000', 'L103300', 'L190300', 'L100800',
      
      'L100800', 'L104600', 'SEX', 'AGE', 'L101300', 'S000300', 
                       'L103000', 'L103300', 'S000501', 'S000502', 'L101700', 'FIELD_38',
        
        'L103300', 'L103100', 'L103000', 'L103200', 'S000300', 'L102900', 'SEX', 
                       'L100700', 'L190300', 'L190400', 'L190500', 'L100500',
        
        'L103100', 'L103300', 'SEX', 'S000300', 'L103000', 'L190300', 
        'L100700', 'L190400', 'L190500', 'L100500', 'S000100', 'L101300',
        
#         'L102900', 'L103000', 'L103200','L104600', 'L100700',
#        'S000501', 'S000300', 'L103300', 'L100800', 'L101700', 'AGE','FIELD_4',
                
#       'L103200', 'L102900', 'L103100', 'L100700', 'S000501',
#        'L190300', 'L104600', 'S000300', 'L103300', 'AGE', 'FIELD_41','FIELD_4',
      
        'FIELD_16','FIELD_23','FIELD_15','FIELD_22','FIELD_17','FIELD_24','FIELD_33','FIELD_40','FIELD_1','FIELD_2',
        
        'L102900', 'L103000', 'L103200' 
    ]
)

print(cols)

['AGE' 'FIELD_1' 'FIELD_15' 'FIELD_16' 'FIELD_17' 'FIELD_2' 'FIELD_22'
 'FIELD_23' 'FIELD_24' 'FIELD_33' 'FIELD_38' 'FIELD_40' 'L100500'
 'L100700' 'L100800' 'L101200' 'L101300' 'L101700' 'L102900' 'L103000'
 'L103100' 'L103200' 'L103300' 'L104600' 'L190300' 'L190400' 'L190500'
 'S000100' 'S000300' 'S000501' 'S000502' 'SEX']

In [4]:
xcols=[]
ycols=[]
allxycols=[]

for i in cols:
    xcols.append (i+'_x')
    ycols.append (i+'_y')
    
    allxycols.append (i+'_x')
    allxycols.append (i+'_y')

Read Dataset
====

In [5]:
x_original=pd.read_csv('../../_xlable4_withNa_AllColumns.txt')
y_original=pd.read_csv('../../_targelable4_withNa_AllColumns.txt')

data = pd.merge(
    x_original, y_original, how="inner", left_on="Unnamed: 0", right_on="Unnamed: 0"
)

Prepare dataset
===

In [6]:
# filter the data set
data = data[data.FIELD_16_x != 1]  # exclude people who are diagnosed for (diabetes)
data = data[data.FIELD_23_x != 1]  # exclude people who are on medication for diabetes

data = data[
    data.FIELD_15_x != 1
]  # exclude people who are diagnosed for (high blood pressure)
data = data[
    data.FIELD_22_x != 1
]  # exclude people who are on medication for high blood pressure

data = data[data.FIELD_17_x != 1]  # exclude people who are diagnosed for hyperlipidemia
data = data[
    data.FIELD_24_x != 1
]  # exclude people who are on medication for hyperlipidemia


data = data[allxycols].dropna()
print(data.shape)

(38877, 64)

In [7]:
x = data[xcols]
y = data[ycols]

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, random_state=42, test_size=0.3)

Train Regression Models
==========

L100700_x # Uric Acid
====

In [9]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=500, max_features=8
)
regr.fit(
    xtrain[
        [
            'L100700_x', 'SEX_x', 'S000300_x', 'L103000_x', 'L103100_x', 'L103300_x',
       'S000501_x', 'S000100_x', 'L101300_x', 'L190300_x', 'L100500_x', 'L101700_x'
        ]
    ],
    ytrain[["L100700_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'L100700_x', 'SEX_x', 'S000300_x', 'L103000_x', 'L103100_x', 'L103300_x',
       'S000501_x', 'S000100_x', 'L101300_x', 'L190300_x', 'L100500_x', 'L101700_x'
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L100700_y"]], ypred))

r2_score 0.7495283164438555

In [10]:
pred_L100700 = ypred
pred_L100700.shape

(11664,)

S000300 #BMI
===

In [11]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=500, max_features=4
)
regr.fit(
    xtrain[
        [            
      'S000300_x', 'SEX_x', 'L103300_x', 'S000501_x','L103100_x', 'L101300_x', 'S000502_x', 
            'L190300_x', 'L190400_x', 'L100700_x', 'L103000_x', 'L100800_x',
        ]
    ],
    ytrain[["S000300_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'S000300_x', 'SEX_x', 'L103300_x', 'S000501_x','L103100_x', 'L101300_x', 'S000502_x', 
            'L190300_x', 'L190400_x', 'L100700_x', 'L103000_x', 'L100800_x',
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["S000300_y"]], ypred))

r2_score 0.8063549250250258

In [12]:
pred_S000300 = ypred

L101700 # r-GTP gamma
===

In [13]:
regr = RandomForestRegressor(
    max_depth=8, random_state=random_seed, verbose=0, n_estimators=1000
)
regr.fit(
    xtrain[
        ['L101700_x', 'SEX_x', 'L101300_x', 'FIELD_38_x', 'S000300_x', 'L101200_x', 
        'L100700_x', 'L190400_x', 'L103000_x', 'L103300_x', 'L190300_x', 'L100800_x',
        ]
    ],
    ytrain[["L101700_y"]],
)

ypred = regr.predict(
    xtest[
        ['L101700_x', 'SEX_x', 'L101300_x', 'FIELD_38_x', 'S000300_x', 'L101200_x', 
        'L100700_x', 'L190400_x', 'L103000_x', 'L103300_x', 'L190300_x', 'L100800_x',
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L101700_y"]], ypred))

r2_score 0.6532186558739068

In [14]:
pred_L101700 = ypred

L100800 # fasting glucose level
====

In [15]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=1000, max_features=6
)
regr.fit(
    xtrain[
        [
           'L100800_x', 'L104600_x', 'SEX_x', 'AGE_x', 'L101300_x', 'S000300_x', 
                       'L103000_x', 'L103300_x', 'S000501_x', 'S000502_x', 'L101700_x', 'FIELD_38_x',
        ]
    ],
    ytrain[["L100800_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'L100800_x', 'L104600_x', 'SEX_x', 'AGE_x', 'L101300_x', 'S000300_x', 
                       'L103000_x', 'L103300_x', 'S000501_x', 'S000502_x', 'L101700_x', 'FIELD_38_x',
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L100800_y"]], ypred))

r2_score 0.5110169860008122

In [16]:
pred_L100800 = ypred

L1033 # Cardiac risk factor
=======

In [17]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=1000, max_features=7
)
regr.fit(
    xtrain[
        [
           'L103300_x', 'L103100_x', 'L103000_x', 'L103200_x', 'S000300_x', 'L102900_x', 'SEX_x', 
                       'L100700_x', 'L190300_x', 'L190400_x', 'L190500_x', 'L100500_x'
        ]
    ],
    ytrain[["L103300_y"]],
)

ypred = regr.predict(
    xtest[
        [
            'L103300_x', 'L103100_x', 'L103000_x', 'L103200_x', 'S000300_x', 'L102900_x', 'SEX_x', 
                       'L100700_x', 'L190300_x', 'L190400_x', 'L190500_x', 'L100500_x'
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L103300_y"]], ypred))

r2_score 0.6922451953919426

In [18]:
pred_L103300 = ypred

103100 # HDL
===

In [19]:
regr = RandomForestRegressor(
    max_depth=10, random_state=random_seed, verbose=0, n_estimators=1000, max_features=7
)
regr.fit(
    xtrain[
        [
           'L103100_x', 'L103300_x', 'SEX_x', 'S000300_x', 'L103000_x', 'L190300_x', 
        'L100700_x', 'L190400_x', 'L190500_x', 'L100500_x', 'S000100_x', 'L101300_x'
        ]
    ],
    ytrain[["L103100_y"]],
)

ypred = regr.predict(
    xtest[
        [
           'L103100_x', 'L103300_x', 'SEX_x', 'S000300_x', 'L103000_x', 'L190300_x', 
        'L100700_x', 'L190400_x', 'L190500_x', 'L100500_x', 'S000100_x', 'L101300_x'
        ]
    ]
)

print("r2_score", m.r2_score(ytest[["L103100_y"]], ypred))

r2_score 0.6269254364268014

In [20]:
pred_L103100 = ypred

102900 # total cholestrol
====

In [21]:
# regr = RandomForestRegressor(
#     max_depth=10, random_state=random_seed, verbose=0, n_estimators=1000, max_features=7
# )
# regr.fit(
#     xtrain[
#         [
#            'L102900_x', 'L103000_x', 'L103200_x','L104600_x', 'L100700_x',
#        'S000501_x', 'S000300_x', 'L103300_x', 'L100800_x', 'L101700_x', 'AGE_x','FIELD_4_x'
#         ]
#     ],
#     ytrain[["L103100_y"]],
# )

# ypred = regr.predict(
#     xtest[
#         [
#            'L102900_x', 'L103000_x', 'L103200_x','L104600_x', 'L100700_x',
#        'S000501_x', 'S000300_x', 'L103300_x', 'L100800_x', 'L101700_x', 'AGE_x','FIELD_4_x'
#         ]
#     ]
# )

# print("r2_score", m.r2_score(ytest[["L103100_y"]], ypred))

In [22]:
# pred_L102900 = ypred

1032 # LDL
====

In [23]:
# regr = RandomForestRegressor(
#     max_depth=10, random_state=random_seed, verbose=0, n_estimators=1000, max_features=7
# )
# regr.fit(
#     xtrain[
#         [
#            'L103200_x', 'L102900_x',  'L103100_x', 'L100700_x', 'S000501_x',
#        'L190300_x', 'L104600_x', 'S000300_x', 'L103300_x', 'AGE_x', 'FIELD_41_x','FIELD_4_x'
#         ]
#     ],
#     ytrain[["L103200_y"]],
# )

# ypred = regr.predict(
#     xtest[
#         [
#            'L103200_x', 'L102900_x',  'L103100_x', 'L100700_x', 'S000501_x',
#        'L190300_x', 'L104600_x', 'S000300_x', 'L103300_x', 'AGE_x', 'FIELD_41_x','FIELD_4_x'
#         ]
#     ]
# )

# print("r2_score", m.r2_score(ytest[["L103200_y"]], ypred))

In [24]:
# pred_L103200 = ypred

Categorical values
=====

In [25]:
pred_FIELD_33 = ytest.FIELD_33_y

In [26]:
pred_FIELD_38 = ytest.FIELD_38_y

In [27]:
pred_FIELD_40 = ytest.FIELD_40_y

In [28]:
pred_SEX = ytest.SEX_y

In [29]:
pred_AGE = ytest.AGE_y + 1

Combine the predicted values to make dataframe
====

In [30]:
NextYearData = pd.DataFrame()
NextYearData["P_FIELD_1"] = ytest.FIELD_1_y.values
NextYearData["P_FIELD_2"] = ytest.FIELD_2_y.values

NextYearData["P_L100700"] = pred_L100700
NextYearData["P_S000300"] = pred_S000300
NextYearData["P_L101700"] = pred_L101700
NextYearData["P_L100800"] = pred_L100800
NextYearData["P_L103300"] = pred_L103300
NextYearData["P_L103100"] = pred_L103100
# NextYearData["P_L102900"] = pred_L102900
# NextYearData["P_L103200"] = pred_L103200

NextYearData["P_FIELD_33"] = pred_FIELD_33.values
NextYearData["P_FIELD_38"] = pred_FIELD_38.values
NextYearData["P_FIELD_40"] = pred_FIELD_40.values

NextYearData["P_SEX"] = pred_SEX.values
NextYearData["P_AGE"] = pred_AGE.values

NextYearData["A_L102900"] = ytest.L102900_y.values
NextYearData["A_L103200"] = ytest.L103200_y.values
NextYearData["A_L103000"] = ytest.L103000_y.values
NextYearData["A_L103300"] = ytest.L103300_y.values

_class = []
for i in range(NextYearData.shape[0]):
    if((NextYearData.A_L102900[i] <= 200) & (NextYearData.A_L103200[i] <= 130) & (NextYearData.A_L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
NextYearData["CLASS"] = _class

NextYearData.head()

,P_FIELD_1,P_FIELD_2,P_L100700,P_S000300,P_L101700,P_L100800,P_L103300,P_L103100,P_FIELD_33,P_FIELD_38,P_FIELD_40,P_SEX,P_AGE,A_L102900,A_L103200,A_L103000,A_L103300,CLASS
0,1071928,20141120,6.320051,25.232440,62.670661,96.016331,4.715410,49.074521,1.0,1.0,1.0,1.0,51.0,253.0,178.0,86.0,4.4,1
1,938071,20140528,5.587522,25.297303,45.286098,106.422303,3.487461,55.345414,2.0,2.0,0.0,0.0,46.0,140.0,89.0,51.0,3.4,0
2,2686302,20151031,6.051631,24.564815,45.092373,97.162257,4.835118,42.209086,3.0,2.0,1.0,0.0,36.0,227.0,145.0,190.0,5.2,1
3,840189,20150706,6.890798,25.934557,25.726559,105.361735,5.450269,39.816235,2.0,1.0,0.0,0.0,44.0,189.0,98.0,281.0,5.4,1
4,1254540,20140718,4.582151,24.858771,57.534269,108.641355,4.917339,39.164730,1.0,1.0,1.0,0.0,66.0,186.0,131.0,95.0,5.2,1

In [31]:
NextYearData.to_csv("Predicted_NextYearData.txt", sep=",")

==============================================
==========

In [32]:
# select the actual next year values

NextYearData_actualData = pd.DataFrame()
NextYearData_actualData["FIELD_1"] = ytest.FIELD_1_y.values
NextYearData_actualData["FIELD_2"] = ytest.FIELD_2_y.values
NextYearData_actualData["L100700"] = ytest.L100700_y.values
NextYearData_actualData["S000300"] = ytest.S000300_y.values
NextYearData_actualData["L101700"] = ytest.L101700_y.values
NextYearData_actualData["L100800"] = ytest.L100800_y.values
NextYearData_actualData["L103300"] = ytest.L103300_y.values 

NextYearData_actualData["L103100"] = ytest.L103100_y.values 
# NextYearData_actualData["L102900"] = ytest.L102900_y.values
# NextYearData_actualData["L103200"] = ytest.L103200_y.values 

NextYearData_actualData["FIELD_33"] = ytest.FIELD_33_y.values
NextYearData_actualData["FIELD_38"] = ytest.FIELD_38_y.values
NextYearData_actualData["FIELD_40"] = ytest.FIELD_40_y.values
NextYearData_actualData["SEX"] = ytest.SEX_y.values
NextYearData_actualData["AGE"] = ytest.AGE_y.values

NextYearData_actualData["L102900"] = ytest.L102900_y.values
NextYearData_actualData["L103200"] = ytest.L103200_y.values
NextYearData_actualData["L103000"] = ytest.L103000_y.values
NextYearData_actualData["L103300"] = ytest.L103300_y.values

_class = []
for i in range(NextYearData_actualData.shape[0]):
    if((NextYearData_actualData.L102900[i] <= 200) & 
       (NextYearData_actualData.L103200[i] <= 130) & 
       (NextYearData_actualData.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
NextYearData_actualData["CLASS"] = _class
 

NextYearData_actualData.to_csv("NextYearData_actualData_test.txt", sep=",")

==========================================================
===

In [33]:
# select the actual this year values

ThisYearData_actualData = pd.DataFrame()
ThisYearData_actualData["FIELD_1"] = xtest.FIELD_1_x.values
ThisYearData_actualData["FIELD_2"] = xtest.FIELD_2_x.values
ThisYearData_actualData["L100700"] = xtest.L100700_x.values
ThisYearData_actualData["S000300"] = xtest.S000300_x.values
ThisYearData_actualData["L101700"] = xtest.L101700_x.values
ThisYearData_actualData["L100800"] = xtest.L100800_x.values
ThisYearData_actualData["L103300"] = xtest.L103300_x.values

ThisYearData_actualData["L103100"] = xtest.L103100_x.values
# ThisYearData_actualData["L102900"] = xtest.L102900_x.values
# ThisYearData_actualData["L103200"] = xtest.L103200_x.values

ThisYearData_actualData["FIELD_33"] = xtest.FIELD_33_x.values
ThisYearData_actualData["FIELD_38"] = xtest.FIELD_38_x.values
ThisYearData_actualData["FIELD_40"] = xtest.FIELD_40_x.values
ThisYearData_actualData["SEX"] = xtest.SEX_x.values
ThisYearData_actualData["AGE"] = xtest.AGE_x.values 


ThisYearData_actualData["L102900"] = xtest.L102900_x.values
ThisYearData_actualData["L103200"] = xtest.L103200_x.values
ThisYearData_actualData["L103000"] = xtest.L103000_x.values
ThisYearData_actualData["L103300"] = xtest.L103300_x.values

_class = []
for i in range(ThisYearData_actualData.shape[0]):
    if((ThisYearData_actualData.L102900[i] <= 200) & 
       (ThisYearData_actualData.L103200[i] <= 130) & 
       (ThisYearData_actualData.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
ThisYearData_actualData["CLASS"] = _class

ThisYearData_actualData.to_csv("ThisYearData_actualData_test.txt", sep=",")

============================================
=========

In [34]:
# select the actual next year values train

NextYearData_actualData_train = pd.DataFrame()
NextYearData_actualData_train["FIELD_1"] = ytrain.FIELD_1_y.values
NextYearData_actualData_train["FIELD_2"] = ytrain.FIELD_2_y.values
NextYearData_actualData_train["L100700"] = ytrain.L100700_y.values
NextYearData_actualData_train["S000300"] = ytrain.S000300_y.values
NextYearData_actualData_train["L101700"] = ytrain.L101700_y.values
NextYearData_actualData_train["L100800"] = ytrain.L100800_y.values
NextYearData_actualData_train["L103300"] = ytrain.L103300_y.values 

NextYearData_actualData_train["L103100"] = ytrain.L103100_y.values 
# NextYearData_actualData_train["L102900"] = ytrain.L102900_y.values
# NextYearData_actualData_train["L103200"] = ytrain.L103200_y.values 


NextYearData_actualData_train["FIELD_33"] = ytrain.FIELD_33_y.values
NextYearData_actualData_train["FIELD_38"] = ytrain.FIELD_38_y.values
NextYearData_actualData_train["FIELD_40"] = ytrain.FIELD_40_y.values
NextYearData_actualData_train["SEX"] = ytrain.SEX_y.values
NextYearData_actualData_train["AGE"] = ytrain.AGE_y.values


NextYearData_actualData_train["L102900"] = ytrain.L102900_y.values
NextYearData_actualData_train["L103200"] = ytrain.L103200_y.values
NextYearData_actualData_train["L103000"] = ytrain.L103000_y.values
NextYearData_actualData_train["L103300"] = ytrain.L103300_y.values

_class = []
for i in range(NextYearData_actualData_train.shape[0]):
    if((NextYearData_actualData_train.L102900[i] <= 200) & 
       (NextYearData_actualData_train.L103200[i] <= 130) & 
       (NextYearData_actualData_train.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
NextYearData_actualData_train["CLASS"] = _class 

NextYearData_actualData_train.to_csv("NextYearData_actualData_train.txt", sep=",")

=================================================
==============

In [35]:
# select the actual this year values train

ThisYearData_actualData_train = pd.DataFrame()
ThisYearData_actualData_train["FIELD_1"] = xtrain.FIELD_1_x.values
ThisYearData_actualData_train["FIELD_2"] = xtrain.FIELD_2_x.values
ThisYearData_actualData_train["L100700"] = xtrain.L100700_x.values
ThisYearData_actualData_train["S000300"] = xtrain.S000300_x.values
ThisYearData_actualData_train["L101700"] = xtrain.L101700_x.values
ThisYearData_actualData_train["L100800"] = xtrain.L100800_x.values
ThisYearData_actualData_train["L103300"] = xtrain.L103300_x.values

ThisYearData_actualData_train["L103100"] = xtrain.L103100_x.values
# ThisYearData_actualData_train["L102900"] = xtrain.L102900_x.values
# ThisYearData_actualData_train["L103200"] = xtrain.L103200_x.values


ThisYearData_actualData_train["FIELD_33"] = xtrain.FIELD_33_x.values
ThisYearData_actualData_train["FIELD_38"] = xtrain.FIELD_38_x.values
ThisYearData_actualData_train["FIELD_40"] = xtrain.FIELD_40_x.values
ThisYearData_actualData_train["SEX"] = xtrain.SEX_x.values
ThisYearData_actualData_train["AGE"] = xtrain.AGE_x.values


ThisYearData_actualData_train["L102900"] = ytrain.L102900_y.values
ThisYearData_actualData_train["L103200"] = ytrain.L103200_y.values
ThisYearData_actualData_train["L103000"] = ytrain.L103000_y.values
ThisYearData_actualData_train["L103300"] = ytrain.L103300_y.values

_class = []
for i in range(ThisYearData_actualData_train.shape[0]):
    if((ThisYearData_actualData_train.L102900[i] <= 200) & 
       (ThisYearData_actualData_train.L103200[i] <= 130) & 
       (ThisYearData_actualData_train.L103000[i] <=150)):
        _class.append(0)
    else:
        _class.append(1)
ThisYearData_actualData_train["CLASS"] = _class 



ThisYearData_actualData_train.to_csv("ThisYearData_actualData_train.txt", sep=",")